/* Media Queries - 1 */

/* Note: Design for a below width of 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.show_ipad1{ display:block}
.hide_ipad1{ display:none}

.container_16 .grid_16 { width:728px; margin-left:5px; margin-right:5px}
.container_16 .grid_6 { width: 290px}
.container_16 .grid_12{  width: 530px}
.container_16 .grid_4 { width: 180px}

.contentmain{ width:93%; padding:0 3.5% 140px 3.5%}

/* banner */
.banner aside{ width:auto; left:6.9%}
.banner aside h1{ font-size:35px; padding-bottom:6px}
.banner aside p{ font-size:23px}

.guidance-info{ width:88%; padding:43px 6% 10px 6%}
.guidance-info .align-center{ padding:0 0 50px 0}

.get-in-early{ width:88%; padding:35px 6% 40px 6%}
.get-in-early ul{ width:48%}

/* footer */
footer p{ font-size:14px}
footer p a{ color:#344e1c; margin:0 10px}

/* Marketspace Discussion */
.forumpost .heading .leftcolumn{ width:80%; float:left}
.forumresponse article aside{ width:89%; float:right}
.sidemenu .board-state ul li .right{ width:50px}

/* Dashboard */
.image-colage .updates{ width:200px}
.image-colage .updates h4{ font-size:13px}

}

/* Note: Design for a width of 767px */
@media only screen and (max-width: 767px) {
.show_mobile1{ display:block}
.hide_mobile1{ display:none}

.hide { display:none}

h1{ font-size:30px}
h2{ font-size:20px}
h3{ font-size:16px}

.container_16 .grid_6{ width:100%; margin:0}
.container_16 .grid_16{ width:100%; margin:0}
.container_16 .grid_12{  width: 100%; margin:0}
.container_16 .grid_4 { width: 100%; margin:0}

/* header */
header .logo{ padding:3px 0 0 0}
header .logo img{ width:150px}
header .topnav{ padding-right:0}

/* contentmain */
.contentmain{ width:100%; padding:0 0 25px 0}

/* banner */
.banner{ padding-bottom:25px}
.banner aside{ width: auto; top:30px; left:5%}
.banner aside h1{ font-size:35px}
.banner aside p{ font-size:16px; padding-bottom:15px}
.banner aside .btn{ width:134px; height:40px; font-size:18px; line-height:40px}

.contentbox{ margin-bottom:25px}
.guidance-info{ width:90%; padding:20px 5% 10px 5%}
.guidance-info h1{ padding-bottom:12px}
.guidance-info h2{ text-align:center; padding-bottom:14px}
.guidance-info p{ font-size:16px; text-align:center; padding-bottom:25px}
.guidance-info article{ padding-bottom:20px}
.guidance-info article figure{ width:100%; text-align:center; padding-bottom:15px}
.guidance-info aside{ width:100%; float:left; padding-left:0}
.guidance-info aside h3{ text-align:center}
.guidance-info aside p{ text-align:center}
.guidance-info .align-center{ font-size:16px; padding:0 0 25px 0}
.guidance-info .grid_6{ width:45%; padding:0 2.5%}

.get-in-early{ width:90%; padding:25px 5%}
.get-in-early h2{ padding-bottom:26px}
.get-in-early ul{ width:100%; float:left}
.get-in-early .date{ width:26.5%}
.get-in-early .date .sbHolder{ width:97%}
.get-in-early .month{ padding:0 3%}
.get-in-early .year{ width:30%}
.get-in-early .year .sbHolder{ width:98.5%}
.get-in-early .income{ width:48.3%}
.get-in-early .income .sbHolder{ width:98.6%}
.get-in-early .income2{ float:right; padding-right:0}
.get-in-early .btns{ float:left; padding:10px 0 0 0}
.get-in-early .btn{ width:134px; height:40px; font-size:18px; line-height:40px}
.get-in-early .btn-gray{ width:134px; height:40px; font-size:18px; line-height:40px}

/* footer */
footer { padding-bottom:30px}
footer aside{ width:100%; float:left}
footer p{ font-size:13px; line-height:1.4em; text-align:center; padding-bottom:5px}
footer p a{ color:#344e1c; margin:0 4px}
footer .socialmedia{ width:157px; margin:0 auto; float:none}
footer .socialmedia ul{ padding-top:10px}

/* lightbox */
#fancybox-wrap { padding:0; margin-left:29px}
.lightbox form{ width:80%; float:left; padding:25px 10%}

.lightboxsignup{ width:430px}
.lightboxsignup h3{ font-size:20px}
.lightboxsignup p{ padding:0 13% 30px 13%}

/* Account detail */
header .toplinks { float:right; padding:13px 0 0 0; margin-bottom:-6px}
header .toplinks ul{ float:left}
header .toplinks ul li{ padding:0 7px}
header .toplinks .user-info{ padding-left:10px}

.accountdetail{ width:97%; padding:25px 1.5%}
.accountdetail h1{ padding-bottom:25px}
.accountdetail h2{ font-size:24px; padding-bottom:9px}
.accountdetail article aside{ width:437px; padding-bottom:40px}

.lightboxaccount{ width:430px}
.lightboxaccount h3{ font-size:20px; padding-bottom:20px}
.lightboxaccount p{ font-size:16px; padding:0 0 25px 0}

.contentinner{ padding:25px 0 40px 0}

/* Marketspace Discussion */
.forumpost .heading h3{ font-size:18px; padding-bottom:10px}
.forumpost .heading p{ font-size:14px; padding-bottom:10px}
.forumpost .heading p a{ color:#9591a3}
.forumpost .heading figure{ width:15%}
.forumpost article p{ font-size:14px}
.forumpost article ul{ font-size:14px}
.forumresponse p{ font-size:14px}
.forumresponse article aside{ width:86%; float:left; padding-left:2%}
.quickreply form .textarea{ width:96.9%}

/* Dashboard */
.welcomeinfo h1{ font-size:30px}
.welcomeinfo p{ width:100%; font-size:14px; padding:0 0 5px 0}

.image-colage{ width:100%; float:left; padding-bottom:37px}
.image-colage .leftcolumn{ width:100%}
.image-colage .rightcolumn{ width:100%}

/* marketspace_main_page */
.edutech-info article{ width:97%; padding:10px 1.5%}
.edutech-info article aside{ width:68%; padding-top:0}

}

/* Note: Design for a width of 480px */
@media only screen and (max-width: 479px) {
.show_mobile2{ display:block}
.hide_mobile2{ display:none}

/* header */
header { padding-bottom:0}
header .logo img{ width:160px}
header .logo2 { width:100%; text-align:center; margin-bottom:15px}
header .topnav{ width:100%; float:left; padding:0 0 15px 0}
header .topnav p{ text-align:center}

/* banner */
.banner aside{ width: auto; top:20px; left:3%}
.banner aside h1{ font-size:20px}
.banner aside p{ font-size:15px; padding-bottom:10px}

.guidance-info h2{ text-align:left}
.guidance-info p{ font-size:15px; text-align:left; padding-bottom:25px}
.guidance-info article{ padding-bottom:0}
.guidance-info article figure{ width:auto; text-align:left; padding-bottom:0}
.guidance-info aside{ width:76.38%; float:left; padding-left:10px}
.guidance-info aside h3{ text-align:left}
.guidance-info aside p{ font-size:14px; text-align:left; padding-bottom:0}
.guidance-info .grid_6{ width:100%; padding:0 0 25px 0}
.guidance-info .align-center{ font-size:15px; padding:0 0 25px 0}

.get-in-early h2{ padding-bottom:26px}
.get-in-early ul{ width:100%}
.get-in-early ul.right{ float:left}
.get-in-early ul.right li{ padding-bottom:15px}
.get-in-early .email{ width:90%}
.get-in-early .code{ width:80%}
.get-in-early .gender{ width:47%}
.get-in-early .date{ width:26.5%}
.get-in-early .date .sbHolder{ width:97%}
.get-in-early .month{ width:37%; float:left; padding:0 3%}
.get-in-early .month .sbHolder{ width:98%}
.get-in-early .year{ width:30%}
.get-in-early .year .sbHolder{ width:98.5%}
.get-in-early .income{ width:100%; float:left}
.get-in-early .income .sbHolder{ width:98.6%}
.get-in-early .income2{ padding:15px 0 0 0}
.get-in-early .select3{ width:45.57%}
.get-in-early .select3 .sbHolder{ width:98.4%}

/* footer */
footer aside{ width:290px; margin:0 auto; float:none}
footer p{ font-size:13px; line-height:1.7em; text-align:center; padding-bottom:8px}
footer p a{ margin:0 7px}

/* lightbox */
.lightbox{ width:270px}
.lightbox form p{ font-size:14px}

.lightboxsignup{ width:270px}
.lightboxsignup h3{ font-size:18px}
.lightboxsignup p{ font-size:15px; padding:0 3% 25px 3%}

/* Account detail */
header .toplinks{ width:100%; float:right; padding:5px 0}
header .toplinks ul{ float: none; width:180px; margin:0 auto}
header .toplinks ul li{ padding:0 7px 0 8px}
header .toplinks ul li .dropbox{ right:45px}
header .toplinks .user-info{ position: absolute; top:25px; right:10px; padding-left:0}

.accountdetail article aside{ width:100%; float:left; padding-bottom:40px}
.accountdetail .city{ width:46.84%; float:left}
.accountdetail .city .input{ width:82%; padding:7px 8%}
.accountdetail .state{ width:41%; float:left; padding:0 0 10px 30px}
.accountdetail .code{ width:50%; float:left; padding-top:15px}
.accountdetail .code .input{ width:87%; height:21px; color:#9f9f9f; padding:7px 6%}

.lightboxaccount{ width:270px}
.lightboxaccount h3{ font-size:18px; line-height:1.1em}
.lightboxaccount p{ font-size:15px}

/* Marketspace Discussion */
.forumresponse h4{ line-height:1.5em}
.forumresponse h4 .quote{ width:100%}
.forumresponse article{ width:95%; padding:10px 2.5% 10px 2.5%}
.forumresponse article aside{ width:78%; padding-left:3%}
.quickreply article{ width:95%; padding:0 2.5%}
.quickreply form .textarea{ width:95.5%}
}
