{% load staticfiles %}

<div class="donation-section">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        
	<article>
        <div class="current-amount">
        <h4>Your Current Contribution</h4>
        <div id="dollar">
        <span>${{ total_donation_amount }}</span>
        </div>
        
        <div class="bg-btn">
        <a href="{% url 'donations_add' %}" class="startedbtn">Add to the fund</a>
        </div>
        </div>
        </article>
        
	</div>
        </div>

</div> <!--donation-info-->
