{% load staticfiles %}

<div class="donation-section">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Total Fund Amount</h4>
        <div id="dollar">
        <div class="dollar">${{ website_total_donation_amount }}</div>
        </div>

        <div class="users_donation">
        <h4>Your Contribution</h4>
        <div class="dollar fixme">${{ total_donation_amount }}</div>
        </div>
       
        <div class="users_dollars">
        <h4>Awarded amount</h4>
        <div class="dollar redtext">${{ total_bonus_amount }}</div>
        </div>
        
        <div class="bg-btn amount-btn">
        <a href="{% url 'donations_add' %}" class="startedbtn">Add to the fund</a>
        </div>
        </div>
        
        <div class="time-info">
        <h4>Time until awards fully earned</h4>                
        <div id="defaultCountdown"></div></div></article>

<script type="text/javascript">
var newYear = new Date(); 

//python
//ctx = {..., 'target': datetime(1, 2, 3);}


//new Date( {{ target.year }}, {{target.month}}, {{target.day}});

newYear = new Date({{ donation_vesting_date.year }}, {{ donation_vesting_date.month }} - 1, {{ donation_vesting_date.day }}); 
$('#defaultCountdown').countdown({until: newYear}); 
// the -1 for the month is because -python counts months at 1 and javascript frmo 0. The -1 allows it to sync better
</script>
        
        </div>
        </div>

 </div><!--donation info-->



{% comment %}
#This is the template code that displays a timer. 
#For use if you decide to include a timer.

<div class="donation-section">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Current amount</h4>
        <div id="dollar">
        <span id="hasdonation">${{ total_donation_amount }}</span>
        </div>
        
        <aside>
        <h4>Donated amount</h4>
        <p>$10.00</p>
        </aside>
       
        <aside class="waiting_amount">
        <h4>Awarded amount</h4>
        <p>$10.00</p>
        </aside>
        
        <div class="bg-btn">
        <a href="{% url 'donations_add' %}" class="startedbtn">Add to your donation</a>
        </div>
        </div>
        
        <div class="time-info">
        <h4>Time until donation fully earned</h4>
        <h2><span>1 month  37 days</span></h2>
        </div>
        </article>
     
        
        <div class="bg-btn">
        <a href="#" class="btn-gray">Exit Magnate Fund</a>
        </div>
        
        </div>
        </div>

 </div><!--donation info-->

{% endcomment %}