{% extends "zinnia/_entry_detail.html" %}
{% load staticfiles %}

{% block article-tag %}
  <article class="article-hangout">
{% endblock %}

{% block entry-image %}
  <div class="hangout-image">
    {{ block.super }}
  </div>
{% endblock %}

{% block entry-title %}
    <h3>
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h3>

{% endblock %}
{% block related-questions %}
{% endblock %}

        <aside>
        <figure><a href="#"><img src="{% static "img/rw2.jpg" %}" alt="PHOTO" /></a></figure>
        <h3><a href="#">Yum-Yum Surprise Dinner</a> <span>(Open)</span></h3>
        <p>Join the Magnate community at the Thank Festival this May 29th. The lineup includes the top performing DJ’s in the world--Dj Tiesto, Above &#38; Beyond and a bunch of...</p>
        <a href="#" class="btn-more"><span>Count me in</span></a>
        </aside>        
