{% extends "zinnia/entry_list.html" %}
{% comment %}
{% extends "site_base.html" %}
{% endcomment %}



{% load staticfiles %}
{% load zinnia_tags %}



{% block style_base %}

{{ block.super }}

<script>
var checkboxHeight = "60";
var radioHeight = "60";
var selectWidth = "190";


/* No need to change anything after this */


document.write('<style type="text/css">input.styled { display: none; } select.styled { position: relative; width: ' + selectWidth + 'px; opacity: 0; filter: alpha(opacity=0); z-index: 5; } .disabled { opacity: 0.5; filter: alpha(opacity=50); }</style>');

var Custom = {
	init: function() {
		var inputs = document.getElementsByTagName("input"), span = Array(), textnode, option, active;
		for(a = 0; a < inputs.length; a++) {
			if((inputs[a].type == "checkbox" || inputs[a].type == "radio") && inputs[a].className.indexOf("styled") > -1) {
				span[a] = document.createElement("span");
				span[a].className = inputs[a].type;

				if(inputs[a].checked == true) {
					if(inputs[a].type == "checkbox") {
						position = "0 -" + (checkboxHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					} else {
						position = "0 -" + (radioHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					}
				}
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				inputs[a].onchange = Custom.clear;
				if(!inputs[a].getAttribute("disabled")) {
					span[a].onmousedown = Custom.pushed;
					span[a].onmouseup = Custom.check;
				} else {
					span[a].className = span[a].className += " disabled";
				}
			}
		}
		inputs = document.getElementsByTagName("select");
		for(a = 0; a < inputs.length; a++) {
			if(inputs[a].className.indexOf("styled") > -1) {
				option = inputs[a].getElementsByTagName("option");
				active = option[0].childNodes[0].nodeValue;
				textnode = document.createTextNode(active);
				for(b = 0; b < option.length; b++) {
					if(option[b].selected == true) {
						textnode = document.createTextNode(option[b].childNodes[0].nodeValue);
					}
				}
				span[a] = document.createElement("span");
				span[a].className = "select";
				span[a].id = "select" + inputs[a].name;
				span[a].appendChild(textnode);
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				if(!inputs[a].getAttribute("disabled")) {
					inputs[a].onchange = Custom.choose;
				} else {
					inputs[a].previousSibling.className = inputs[a].previousSibling.className += " disabled";
				}
			}
		}
		document.onmouseup = Custom.clear;
	},
	pushed: function() {
		element = this.nextSibling;
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight*3 + "px";
		} else if(element.checked == true && element.type == "radio") {
			this.style.backgroundPosition = "0 -" + radioHeight*3 + "px";
		} else if(element.checked != true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight + "px";
		} else {
			this.style.backgroundPosition = "0 -" + radioHeight + "px";
		}
	},
	check: function() {
		
		element = this.nextSibling;
		
		
		set_amount(element.value);
		
		
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 0";
			element.checked = false;
		} else {
			if(element.type == "checkbox") {
				this.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else {
				this.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
				group = this.nextSibling.name;
				inputs = document.getElementsByTagName("input");
				for(a = 0; a < inputs.length; a++) {
					if(inputs[a].name == group && inputs[a] != this.nextSibling) {
						inputs[a].previousSibling.style.backgroundPosition = "0 0";
					}
				}
			}
			element.checked = true;
		}
	},
	clear: function() {
		inputs = document.getElementsByTagName("input");
		for(var b = 0; b < inputs.length; b++) {
			if(inputs[b].type == "checkbox" && inputs[b].checked == true && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else if(inputs[b].type == "checkbox" && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			} else if(inputs[b].type == "radio" && inputs[b].checked == true && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
			} else if(inputs[b].type == "radio" && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			}
		}
	},
	choose: function() {
		option = this.getElementsByTagName("option");
		for(d = 0; d < option.length; d++) {
			if(option[d].selected == true) {
				document.getElementById("select" + this.name).childNodes[0].nodeValue = option[d].childNodes[0].nodeValue;
			}
		}
	}
}
window.onload = Custom.init;

function set_amount(value) {
	if (value != "") {
		document.getElementById("id_donation_amount").value = value;	
	}
}

function validate_amount(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode( key );
    var regex= /[0-9]|\./
    if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
    }
}
</script>


{% endblock %}


{% block content %}
 <div class="grid_16">
    <div class="contentinner">
    	<div class="bgsection2">
        
        <div class="heading-inner rewards_header">
        {% if request.GET.response %}
		<h1>Whoops! There was an issue...</h1>
		{% else %}        
        <h1>Magnate Rewards</h1>
        {% endif %}
        </div>

        <div class="section2">
        <div class="left_section2">
        <div class="order-left">
        <div class="order-left_header">
        <h3 id="reward_up">Upcoming Hangouts</h3>
        <div class="eventborder"></div>
        </div>



{% block content-loop-new %}
{% for object in object_list %}
  {% if not object.hangout.is_completed %}
    {% include "rewards/_hangout_detail.html" with object_content=object.html_content|truncatewords_html:100|safe continue_reading=0 %}
  {% endif %}
{% endfor %}
{% endblock %}



        <article>
        <h2>May 2014</h2>
        <aside>
        <figure><a href="#"><img src="{% static "img/rw1.jpg" %}" alt="PHOTO" /></a></figure>
        <h3><a href="#">Thank You Festival</a> <span>(Open)</span></h3>
        <p>Join the Magnate community at the Thank Festival this May 29th. The lineup includes the top performing DJ’s in the world--Dj Tiesto, Above &#38; Beyond and a bunch of...</p>
        <a href="#" class="btn-more"><span>Count me in</span></a>
        </aside>        

        <aside>
        <figure><a href="#"><img src="{% static "img/rw2.jpg" %}" alt="PHOTO" /></a></figure>
        <h3><a href="#">Yum-Yum Surprise Dinner</a> <span>(Open)</span></h3>
        <p>Join the Magnate community at the Thank Festival this May 29th. The lineup includes the top performing DJ’s in the world--Dj Tiesto, Above &#38; Beyond and a bunch of...</p>
        <a href="#" class="btn-more"><span>Count me in</span></a>
        </aside>        
        </article>
        
        <article>
        <h2>June 2014</h2>
        <aside>
        <figure><a href="#"><img src="{% static "img/rw3.jpg" %}" alt="PHOTO" /></a></figure>
        <h3><a href="#">Disneyland Adventure</a></h3>
        <p>Join the Magnate community at the Thank Festival this May 29th. The lineup includes the top performing DJ’s in the world--Dj Tiesto, Above &#38; Beyond and a bunch of...</p>
        <a href="#" class="btn-more"><span>Count me in</span></a>
        </aside>    
        </article>
        </div>
        </div>
       
        <div class="right_section2">
        <div class="order-right rewardslct">
        <article>
        <h3>Select Fund</h3>
        
        <select class="rewardfund" name="Gender" class="select">
        <option value="Permanent Learning Fund">PLF - Permanent Learning Fund</option>
        <option value="Multi-Strategy Fund">MSF - Multi-Strategy Fund</option>
        </select>
        </article>
        </div>
        </div>
        
        <div class="order-bottom">
        <h3 id="reward_bottom">Past Hangouts</h3>



{% block content-loop-future %}
{% for object in object_list %}
  {% if object.hangout.is_completed %}
    {% include "rewards/_hangout_detail.html" with object_content=object.html_content|truncatewords_html:100|safe continue_reading=0 %}
  {% endif %}
{% endfor %}
{% endblock %}

{% block content-pagination %}
{% if is_paginated %}
  {% zinnia_pagination page_obj %}
{% endif %}
{% endblock %}
        <div class="btm_eventborder"></div>
        <article>
        <h2>May 2014</h2>
        <aside>
        <div class="past-img">
        <figure><a href="#"><img src="{% static "img/rw1.jpg" %}" alt="PHOTO" /></a></figure>
        </div>
        <div class="past-text">
        <h3><a href="#">Thank You Festival</a> <span>(Open)</span></h3>
        <p>Join the Magnate community at the Thank Festival this May 29th. The lineup includes the top performing DJ’s in the world--Dj Tiesto, Above &#38; Beyond and a bunch of...</p>
        </div>
        </aside>
        </article>
        </div>
        
        
        </div>
        </div>
    </div><!-- contentinner -->
    </div><!-- grid_16 -->


{% endblock %}
