<!--{  % extends "base.html" % }--?
<!-- embedded_questions.html -->
{% load question_list_tags %}
{% load i18n %}
{% load extra_tags %}
{% load general_sidebar_tags %}

{% block title %}
{% endblock %}

{% block metadescription %}
{% endblock %}

{% block meta %}
{% endblock %}

{% block content %}

    <div class="question_banner">
        <a href="/forum/questions/ask/?entry_id={{ request.GET.entry }}" class="btn" id="askquestion_fix">Ask a Question</a>
    </div>

<div class="tabBar">

    {% comment %}
    Commenting out the following code for design purposes (jmw 06.27.14)
    {% include "question_list/title.html" %}
    <a class="feed-icon" style="background-image:url('{% media "media/images/feed-icon-small.png" %}');" href="{{ feed_url }}" title="{% trans "subscribe to question RSS feed" %}"></a>
    {% endcomment %}
    
    {{ questions.paginator.sort_tabs }}
</div>
<div id="listA">{% for question in questions.paginator.page %}
    {% if show_summary %}
      {% question_list_item question question_summary=yes %}
    {% else %}
      {% question_list_item question %}
    {% endif %}
{% endfor %}</div>
{% endblock %}

{% block tail %}
    <div class="pager">{{ questions.paginator.page_numbers }}</div>
    <div class="pagesize">{{ questions.paginator.page_sizes }}</div>
{% endblock %}

{% block sidebar %}
    {% include "question_list/count.html" %}
<!--    { % sidebar_upper % }-->
<!--    { % tag_selector % }-->
<!--    { % sidebar_lower % }-->

	{% comment %}
    Commenting out the following code for design purposes (jmw 06.27.14)
    {% question_list_related_tags questions.paginator.page %}
	{% endcomment %}
{% endblock %}
<!-- end questions.html -->
