/newenv/
/airvirt_magnatenv/
/virt_magnatenv/
/beer/
/app_magnate/app_magnate/site_media/media/
*~
*.pyc
app_magnate/#k#
app_magnate/billing/integrations/y.html
app_magnate/billing/tests/#authorize_net_tests.py#
app_magnate/y.html
.DS_Store
dashboard/#mixins.py#
app_magnate/.settings.py.swp
#requirements.txt#

app_magnate/#requirements.txt#

app_magnate/app_magnate/.settings.py.swp

app_magnate/dashboard/#mixins.py#

glue_zinnia/.#models.py

glue_zinnia/#models.py#

app_magnate/glue_zinnia/.#models.py

app_magnate/glue_zinnia/#models.py#

*.log

app_magnate/logs/mylog.log

app_magnate/logs/mylog.log.1

app_magnate/logs/mylog.log.2

app_magnate/logs/mylog.log.3

app_magnate/logs/mylog.log.4

app_magnate/logs/mylog.log.4

app_magnate/logs/mylog.log.5

app_magnate/logs/django_request.log

app_magnate/logs/django_request.log
