/airvirt_magnatenv/
/virt_magnatenv/
/beer/
/app_magnate/app_magnate/site_media/media/uploads/
*~
*.pyc

app_magnate/#k#

app_magnate/billing/integrations/y.html

app_magnate/billing/tests/#authorize_net_tests.py#

app_magnate/y.html

.DS_Store