BeautifulSoup==3.2.1
Django==1.6
Pillow==2.2.1
South==0.8.4
Markdown==2.4.1
html5lib==0.999
-e git+https://github.com/Commentor/brabeion.git@22efa0bbff4d08532ca69185ceb460726aece09f#egg=brabeion-improved
django-admin-enhancer==0.1.3
django-analytical==0.16.0
django-appconf==0.5
django-avatar==2.0
-e git://github.com/Magnatelabs/django-blog-zinnia.git@f9a238d794dce5a4b30c4ca3f9a28dbd96615786#egg=django-blog-zinnia
django-cache-machine==0.8
django-forms-bootstrap==2.0.3.post1
django-jsonfield==0.8.12
django-mptt==0.5.5
django-tagging==0.3.1
django-test-exclude==0.1.0
django-waitinglist==1.0b10
django-xmlrpc==0.1.5
dj-database-url==0.3.0
dj-static==0.0.5
django-storages==1.1.8
boto==2.31.1
gunicorn==18.0
eventlog==0.6.2
metron==1.1
mock==1.0.1
psycopg2==2.5.3
pyparsing==1.5.7
pytz==2013.8
wsgiref==0.1.2

# only needed for development, but does not hurt anyone
selenium==2.42.1
