{% extends "zinnia/entry_detail_base.html" %}
{% load i18n zinnia_tags %}
{% load avatar_tags %}

{% block entry-comments %}


{% if object.is_public %}
    <div id="comments">
      <h3>{% trans "Comments" %}</h3>
      {% if object.comment_count %}
      {% with comment_list=object.comments %}
      <ol id="comment-list">
	{% for comment in comment_list %}
	<li id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
	    class="comment vcard {% cycle box1,box2 %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">
	       {% avatar comment.user %}
	  <p class="comment-info">
	    {% if comment.url %}
	    <a href="{{ comment.url }}" rel="external nofollow"
	       class="fn url">{{ comment.name }}</a>
	    {% else %}
	     <a href="{% url "user_page" %}?user_id={{comment.user.pk}}" rel="external nofollow"
	       class="fn url">{{ comment.name }}</a>
	    {% endif %}
	    {% trans "on" %}
	    <abbr class="comment-published" title="{{ comment.submit_date|date:"c" }}">
	      {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	    </abbr>
	    <a href="#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
	       id="c{{ comment.pk }}" class="anchor-link"
	       title="{% trans "Direct link to this comment" %}">#</a>
	  </p>
	  {{ comment.comment|linebreaks }}
	</li>
	{% endfor %}
      </ol>
      {% endwith %}
	{% if not object.comments_are_open %}
      <p>{% trans "Comments are closed." %}</p>
	{% endif %}
      {% else %}
	{% if object.comments_are_open %}
      <p>{% trans "No comments yet." %}</p>
	{% else %}
      <p>{% trans "Comments are closed." %}</p>
	{% endif %}
      {% endif %}
    </div>
{% endif %}


{% endblock %}



{% block entry-comments-form %}
    {% if object.is_public %}
        {{ block.super }}
    {% endif %}
{% endblock %}
