{% extends "site_base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}
{% block body_id %}account_body{% endblock %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block style_base %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/main_bandaid.css" %}" rel="stylesheet">
    <link href="{% static "css/ui.css" %}" rel="stylesheet">
    <link href="{% static "css/960.css" %}" rel="stylesheet">   
           
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">		
	<link href="{% static "css/typography.css" %}" rel="stylesheet">
            
    <script src="{% static "js/jquery-1.9.0.min.js" %}"></script>
			
	<script type="text/javascript">
	// Prevent caching ajax calls so the dynamic content is always updated
	// This way we don't need to add the wasteful /?cache=nocache to every request
	// (var nocache = new Date().getTime(), for example)
        $(document).ready(function() {
	    	$.ajaxSetup({ cache: false });
	    });
	</script>
    {% block extra_style %}{% endblock %}
{% endblock %}

			<!begin header>
{% block topbar_base %}
                <div id="navbar-scroll-fix" class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                    <div class="navbar-inner">
                        <div class="container navbar-login-bandaid">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                {% if not request.user.is_authenticated %}
                                </a>
                                {% block site_brand_loggedout %}<a class="brand" href="{% url "home" %}" title="MAGNATE"><img src="{% static "img/logo.png" %}" alt="MAGNATE" /></a>{% endblock %}
                                {% endif %}
                                
                                {% if request.user.is_authenticated %}
                                </a>
                                {% block site_brand_loggedin %}<a class="brand" href="{% url "dashboard" %}" title="MAGNATE"><img src="{% static "img/logo.png" %}" alt="MAGNATE" /></a>{% endblock %}
                                {% endif %}
                                
                                {% if request.user.is_authenticated %}
                                <div class="nav-collapse">
                                	<ul class='unstyled'>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "dashboard" %}"><p>Dashboard</p></a>
											</div>
                                		</li>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "groups_all" %}"><p>Lobbies</p></a>
											</div>
                                		</li>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "newstatus_home" %}"><p>Community</p></a>
											</div>
                                		</li>
                                	</ul>
                                </div>
								{% endif %}
								
                                    {% block nav %}
                                        {% comment %}
                                       <!--     <ul class="nav">
                                                <li><a href="#tab_one">One</a></li>
                                                <li><a href="#tab_two">Two</a></li>
                                            </ul> what is this?-->
                                        {% endcomment %}
                                    {% endblock %}                                 
                                    {% block account_bar %}
                                    <! Above django tag refers to "_account_bar" template>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
{% endblock %}
<!end header>

{% block body %}
<div class="container">    
    <div class="row">
        <div class="span8">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% trans "Log in to an existing account" %}</legend>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-actions" id="login-action">
                    <a href="{% url "account_password_reset" %}" class="btn">{% trans "Forgot your password?" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                </div>
            </form>
        </div>
        <div class="span4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
</div>    
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}

{% block footer_base %}
{% block footer %}
{% endblock %}
{% endblock %}

