{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body_id %}dashboard_body{% endblock %}

{% block style_base %}
{{ block.super }}
<script type="text/javascript">
            $().ready(function(){
                $("#back-select").bind('click', function(){history.go(-2);})
            });
</script>
{% endblock %}

{% block body %} 

<div class="grid_16">
    <div class="contentinner">
    	<div class="bgsection2">
        
        <div class="heading-inner">
        <h1>Enter billing address</h1>
        </div>
        
        <div class="section2">
        <div class="left_section2">
        <div class="order-left">
       
        <form method="POST" action="{% url 'donations_finalize' %}">
        {% csrf_token %}
        <article>
        <aside class="billing_forms">
        <ul class="unstyled">
        <li>
        <p><label for="id_first_name">First Name</label>
        {{ form.first_name.errors }}
        {{ form.first_name }}
		<!--<input id="id_first_name" type="text" name="first_name" maxlength="200" /></p>-->
        </li>
        
        <li>
        <p><label for="id_last_name">Last Name</label>
        {{ form.last_name.errors }}
        {{ form.last_name }}
		<!-- <input id="id_last_name" type="text" name="last_name" maxlength="200" /></p> -->
        </li>
        
        <li>
        <p><label for="id_address">Address</label>
        {{ form.address.errors }}
        {{ form.address }}
		<!--<input id="id_address" type="text" name="address" maxlength="200" /></p> -->
        </li>

        <li>
        <p><label for="id_city">City</label>
        {{ form.city.errors }}
        {{ form.city }}
		<!--<input id="id_city" type="text" name="city" maxlength="200" /></p> -->
        </li>
        
        <li>
        <p><label for="id_zipcode">Zip Code</label>
        {{ form.zipcode.errors }}
        {{ form.zipcode }}
		<!--<input id="id_zipcode" type="text" name="zipcode" maxlength="200" /></p> -->
        </li>

        <li>
        <p><label for="id_country">Country</label>
		<select name="country" id="id_country">
		<option value="United_States">United States</option>
		<option value="Pluto">Pluto</option>
		<option value="Hades">Hades</option>
		<option value="Olympus">Olympus</option>
		<option value="China">China</option></select></p>
        </li>        
        
        <li>
        <p><input id="id_amount" type="hidden" name="amount" value="{{ request.POST.amount }}" /></p> 
        {% if request.POST.objective %}
            <input name="objective" type="hidden" value="{{ request.POST.objective }}" />
        {% endif %}
        </li>
        
        </ul>
        </aside>
        {% comment %}
        We're not at the moment
		<div class="billing-prompt">
        <p>Your billing information will be saved for future donations.</p></div>
        {% endcomment %}
        <input type="submit" value="Continue" class="startedbtn participationbtn" />
		</form>		

        <input id="back-select" class="btn-gray" value="{% trans "Cancel" %}" />
        </article>
        
        </div>
        </div>
        
        <div class="right_section2">
        <div class="order-right">
        <article>
        <h3>Your order <span><a href="{% url "donations_add" %}{% if objective %}?objective={{ objective }}{% endif %}" >Change order</a></span></h3>
        <ul class="unstyled">
        <li class="nodivider">
        <div class="column1">MagnateFund donation</div>
        <div class="column2">${{request.POST.amount}}</div>
        </li>
        <li class="total">
        <div class="column1">Total</div>
        <div class="column2">${{request.POST.amount}}</div>
        </li>        
        </ul>
        </article>
        </div>
        </div>
        </div>
        </div>
    </div><!-- contentinner -->
    </div><!-- grid_16 -->
    
    
{% endblock %}
