{% extends "site_base.html" %}
{% block body_id %}dashboard_body{% endblock %}
{% load staticfiles %}
{% load i18n %}

{% block style_base %}
{{ block.super }}

<style type="text/css">input.styled { display: none; } select.styled { position: relative; width: ' + selectWidth + 'px; opacity: 0; filter: alpha(opacity=0); z-index: 5; } .disabled { opacity: 0.5; filter: alpha(opacity=50); }</style>

<script>
var checkboxHeight = "60";
var radioHeight = "60";
var selectWidth = "190";



var Custom = {
	init: function() {
		var inputs = document.getElementsByTagName("input"), span = Array(), textnode, option, active;
		for(a = 0; a < inputs.length; a++) {
			if((inputs[a].type == "checkbox" || inputs[a].type == "radio") && inputs[a].className.indexOf("styled") > -1) {
				span[a] = document.createElement("span");
				span[a].className = inputs[a].type;

				if(inputs[a].checked == true) {
					if(inputs[a].type == "checkbox") {
						position = "0 -" + (checkboxHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					} else {
						position = "0 -" + (radioHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					}
				}
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				inputs[a].onchange = Custom.clear;
				if(!inputs[a].getAttribute("disabled")) {
					span[a].onmousedown = Custom.pushed;
					span[a].onmouseup = Custom.check;
				} else {
					span[a].className = span[a].className += " disabled";
				}
			}
		}
		inputs = document.getElementsByTagName("select");
		for(a = 0; a < inputs.length; a++) {
			if(inputs[a].className.indexOf("styled") > -1) {
				option = inputs[a].getElementsByTagName("option");
				active = option[0].childNodes[0].nodeValue;
				textnode = document.createTextNode(active);
				for(b = 0; b < option.length; b++) {
					if(option[b].selected == true) {
						textnode = document.createTextNode(option[b].childNodes[0].nodeValue);
					}
				}
				span[a] = document.createElement("span");
				span[a].className = "select";
				span[a].id = "select" + inputs[a].name;
				span[a].appendChild(textnode);
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				if(!inputs[a].getAttribute("disabled")) {
					inputs[a].onchange = Custom.choose;
				} else {
					inputs[a].previousSibling.className = inputs[a].previousSibling.className += " disabled";
				}
			}
		}
		document.onmouseup = Custom.clear;
	},
	pushed: function() {
		element = this.nextSibling;
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight*3 + "px";
		} else if(element.checked == true && element.type == "radio") {
			this.style.backgroundPosition = "0 -" + radioHeight*3 + "px";
		} else if(element.checked != true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight + "px";
		} else {
			this.style.backgroundPosition = "0 -" + radioHeight + "px";
		}
	},
	check: function() {
		
		element = this.nextSibling;
		
		
		set_amount(element.value);
		
		
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 0";
			element.checked = false;
		} else {
			if(element.type == "checkbox") {
				this.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else {
				this.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
				group = this.nextSibling.name;
				inputs = document.getElementsByTagName("input");
				for(a = 0; a < inputs.length; a++) {
					if(inputs[a].name == group && inputs[a] != this.nextSibling) {
						inputs[a].previousSibling.style.backgroundPosition = "0 0";
					}
				}
			}
			element.checked = true;
		}
	},
	clear: function() {
		inputs = document.getElementsByTagName("input");
		for(var b = 0; b < inputs.length; b++) {
			if(inputs[b].type == "checkbox" && inputs[b].checked == true && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else if(inputs[b].type == "checkbox" && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			} else if(inputs[b].type == "radio" && inputs[b].checked == true && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
			} else if(inputs[b].type == "radio" && inputs[b].className.indexOf("styled") > -1) {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			}
		}
	},
	choose: function() {
		option = this.getElementsByTagName("option");
		for(d = 0; d < option.length; d++) {
			if(option[d].selected == true) {
				document.getElementById("select" + this.name).childNodes[0].nodeValue = option[d].childNodes[0].nodeValue;
			}
		}
	}
}
window.onload = Custom.init;

function set_amount(value) {
	if (value != "") {
		document.getElementById("id_donation_amount").value = value;	
	}
}

function validate_amount(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode( key );
    var regex= /[0-9]|\./
    if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
    }
}
</script>

<script type="text/javascript">
            $().ready(function(){
                $("#back-select").bind('click', function(){history.go(-1);})
            });
</script>

{% endblock %}

{% block body %} 

 <div class="grid_16">
    <div class="contentinner">
    	<div class="bgsection2">
        
        <div class="heading-inner">
        {% if request.GET.response %}
		<h1>Whoops! There was an issue...</h1>
		{% else %}        
        <h1>Choose your contribution</h1>
        {% endif %}
        </div>
        
        <div class="section2">
        <div class="left_section2">
        <div class="order-left">
        <article class"contribution-article">
        <aside class="amount-info">
        {% if request.GET.response %}
        <p>We're sorry, your transaction could not be processed because {{ request.GET.response }}. Please enter your information one more time, and try again.</p>
        {% else %}        
        <p>Financial participation in Magnate is not mandatory, but it is the only way to profit off of the communities investments decisions.</p>
		{% endif %}
        
        <div class="amount-box">
        <ul class="unstyled"><form method="POST" action="{% url 'donations_billing' %}">
			{% csrf_token %}
		
        {% if request.GET.objective %}
            <input name="objective" value="{{ request.GET.objective }}" />
        {% endif %}
		<input type="hidden" id="id_donation_amountd" name="amount1" value="0.00" />
			
        <li><input type="radio" class="styled" name="amt" value="10.00" /><h1>$10.00</h1></li>
        <li><input type="radio" class="styled" name="amt" value="20.00" /><h1>$20.00</h1></li>
        <li><input type="radio" class="styled" name="amt" value="30.00" /><h1>$30.00</h1></li>
        <li><input type="radio" class="styled" name="amt" value="40.00" /><h1>$40.00</h1></li>
        <li><input type="radio" class="styled" name="amt" value="50.00" /><h1>$50.00</h1></li>
        <li><input id="id_input_other" type="radio" class="styled" name="amt" value="" /><h1>Other</h1></li>
        </ul>
        <input type="text" id="id_donation_amount" name="amount" value="0.00" class="input code2" onchange="document.getElementById('id_input_other').click();" onkeypress="validate_amount(event);" />
        </div>
        </aside>
		<input type="submit" class="startedbtn participationbtn" value="Continue" />
        </form>
        <input id="back-select" class="btn-gray" value="{% trans "Cancel" %}" />
        </article>
        </div>
        </div>
       
        <div class="right_section2">
        <div class="order-right">
        <article>
        <h3>Your order <span><a href="{% url "donations_add" %}{% if request.GET.objective %}?objective={{ request.GET.objective }}{% endif %}" >Change order</a></span></h3>
        <ul class="unstyled">
        <li class="nodivider">
        <div class="column1">MagnateFund donation</div>
        <div class="column2">$0.00</div>
        </li>
        <li class="total">
        <div class="column1">Total</div>
        <div class="column2">$0.00</div>
        </li>        
        </ul>
        <select name="Gender" class="select">
        <option value="USD - American Dollars">USD - American Dollars</option>
        </select>
        </article>
        </div>
        </div>
        </div>
        </div>
    </div><!-- contentinner -->
    </div><!-- grid_16 -->


{% endblock %}
