{% extends "site_base.html" %}
{% load staticfiles %}
{% block body_id %}dashboard_body{% endblock %}
{% block style_base %}
	<link href="{% static "css/main.css" %}" rel="stylesheet">
	<link href="{% static "css/ui.css" %}" rel="stylesheet">
	<link href="{% static "css/960.css" %}" rel="stylesheet">	
{{ block.super }}
{% endblock %}

{% block body %} 

<div class="grid_16">
    <div class="contentinner">
    	<div class="bgsection2">
        
        <div class="heading-inner">
        <h1>Enter billing address</h1>
        </div>
        
        <div class="section2">
        <div class="left_section2">
        <div class="order-left">
       
        <form method="POST" action="{% url 'donations_finalize' %}">
        {% csrf_token %}
        <article>
        <aside class="billing_forms">
        <ul class="unstyled">
        <li>
        <p><label for="id_first_name">First Name</label>
		<input id="id_first_name" type="text" name="first_name" maxlength="200" /></p>
        </li>
        
        <li>
        <p><label for="id_last_name">Last Name</label>
		<input id="id_last_name" type="text" name="last_name" maxlength="200" /></p> 
        </li>
        
        <li>
        <p><label for="id_address">Address</label>
		<input id="id_address" type="text" name="address" maxlength="200" /></p> 
        </li>

        <li>
        <p><label for="id_city">City</label>
		<input id="id_city" type="text" name="city" maxlength="200" /></p> 
        </li>
        
        <li>
        <p><label for="id_zipcode">Zip Code</label>
		<input id="id_zipcode" type="text" name="zipcode" maxlength="200" /></p> 
        </li>

        <li>
        <p><label for="id_country">Country</label>
		<select name="country" id="id_country">
		<option value="United_States">United States</option>
		<option value="Pluto">Pluto</option>
		<option value="Hades">Hades</option>
		<option value="Olympus">Olympus</option>
		<option value="China">China</option></select></p>
        </li>        
        
        <li>
        <p><input id="id_amount" type="hidden" name="amount" value="{{amount}}" /></p> 
        </li>
        
        </ul>
        </aside>

        <p>Your billing information will be saved for future donations.</p>
        <input type="submit" value="Continue" class="startedbtn" />
		</form>		

        <a href="{% url "fund_home" %}" class="btn-gray">Cancel</a>
        </article>
        
        </div>
        </div>
        
        <div class="right_section2">
        <div class="order-right">
        <article>
        <h3>Your order <span><a href="{% url "donations_add" %}" >Change order</a></span></h3>
        <ul class="unstyled">
        <li class="nodivider">
        <div class="column1">MagnateFund donation</div>
        <div class="column2">${{amount}}</div>
        </li>
        <li class="total">
        <div class="column1">Total</div>
        <div class="column2">${{amount}}</div>
        </li>        
        </ul>
        </article>
        </div>
        </div>
        </div>
        </div>
    </div><!-- contentinner -->
    </div><!-- grid_16 -->
    
    
{% endblock %}
