{% extends "site_base.html" %}
{% load staticfiles %}
{% block body_id %}dashboard_body{% endblock %}
{% block style_base %}
	<link href="{% static "css/main.css" %}" rel="stylesheet">
	<link href="{% static "css/ui.css" %}" rel="stylesheet">
	<link href="{% static "css/960.css" %}" rel="stylesheet">	
{{ block.super }}
{% endblock %}

{% block body %} 

<div class="grid_16">
    <div class="contentinner">
    
      {% for fund in funds %}
        {% include "donations/_fund.html" %}
      {% endfor %}
        
          <div class="section1 section3" id="portfolio_breakdown">
          	<div class="portfolio_heading-inner">
			<h1>Portfolio</h1>
			</div>			
          {% for company in portfolio %}
            <div class="portfolio_breakdown-container">
              {% if company.image %}
                <img src="{{ company.image.url }}" alt="LOGO" />
              {% else %}
                <img src="{% static "img/fundHome_tempimg1.jpg" %}" alt="PHOTO" />
              {% endif %}
              <div class="portfolio_breakdown-text">
                <h1>{{ company.name }}</h1> 
                <p>{{ company.description }}</p>  
                <p class="portfolio-tags">{{ company.tags }}</p>
              </div>
            </div>  
          {% endfor %}

        	<div class="portfolio_btn"><a href="#" class="btn" id="dashbtn_fix">See more</a></div>	
         </div> <!--section1 section3 portfolio_breakdown-->
        
        <div class="section1 section3" id="relatedNews_breakdown">
	        <div class="relatedNews_heading-inner">
			<h1>Related News</h1>
			</div>
        	<div class="relatedNews_breakdown-container">           	
        	<div class="relatedNews_breakdown-text">
       		<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
       		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus 			et magnis dis parturient montes, nascetur ridiculus mus.</p>	
       		<a href="#"><p class="newsSource-link">CNN Money</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedNews_breakdown-container">           	
        	<div class="relatedNews_breakdown-text">
       		<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
       		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus 			et magnis dis parturient montes, nascetur ridiculus mus.</p>	
       		<a href="#"><p class="newsSource-link">CNN Money</p></a>
         	</div>
        	</div>
        	<div class="relatedNews_breakdown-container">           	
        	<div class="relatedNews_breakdown-text">
       		<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
       		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus 			et magnis dis parturient montes, nascetur ridiculus mus.</p>	
       		<a href="#"><p class="newsSource-link">CNN Money</p></a>
         	</div>
        	</div>
        	<div class="relatedNews_breakdown-container">           	
        	<div class="relatedNews_breakdown-text">
       		<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
       		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus 			et magnis dis parturient montes, nascetur ridiculus mus.</p>	
       		<a href="#"><p class="newsSource-link">CNN Money</p></a>
         	</div>
        	</div>
        	
           	<div class="relatedNews_btn"><a href="#" class="btn" id="dashbtn_fix">Load more</a></div><!--Horrible, I don't care. I'm tired--!>	
        </div> <!--section1 section3 relatedNews_breakdown-->
        
	</div> <!--contentinner-->
</div>

    
{% endblock %}



