{% extends "site_base.html" %}
{% load staticfiles %}

{% block body %}

<div class="hero-grid">
	<div id="aboutstory" class="aboutus">
        
            <div class="sidemenu-inner">
            <ul>
            <li><a href="#aboutstory" class="active">Our Story</a></li>
            <li><a href="#aboutcontact">Contact Us</a></li>
            </ul>
            
            <form method="POST" action="{% url 'mediaupdates' %}">
            <fieldset>
            <ul>
            <li><label>Media Updates</label></li>
            
            {% csrf_token %}
    	
			<label for="id_name"></label>
				<input id="id_name" type="text" placeholder="Name" name="name" maxlength="200" />
				
			<label for="id_signup_email"></label>
				<input id="id_signup_email" type="text" placeholder="Email" name="signup_email" maxlength="200" value="" />
				
            </ul>            
            <input name="" type="submit" class="startedbtn" value="Subscribe">
            </fieldset>
            </form>
            </div>
        
            <div class="hero-gridright">
            <div class="bgourstory-info">
            <div class="ourstory-info">
            <article class="nodivider">
            <h2>Our Story</h2>
            
            <figure><img src="{% static "img/aboutus_image.png" %}" alt="PHOTO" /></figure>
            
            <p>Our Story, the Canva journey begins back in 2007, while Melanie Perkins was still studying at the University of Western Australia. Melanie was teaching students how to use programs like InDesign and Photoshop — programs that people found hard to learn, and harder to use.</p>
            
            <p>After tossing around the idea for Fusion Books with co-founder Cliff Obrecht, the pair decided to take out a loan and bring in a great tech 
        team to build their online tool for creating school yearbooks. They didn’t really know what they were in for but thankfully they learned a lot in 
        those early days; how to sell, how to recruit great people, and how to build a business.</p>
        
            <p>Five years later and Fusion Books is going strong. It’s now the largest school yearbook publisher in Australia and last year expanded into France and New Zealand. The pair always believed the technology had applications beyond the yearbook market, and knew they had to pursue their vision.</p>
            
            <p>The only thing Melanie and Cliff needed now was a fantastic tech co-founder. They looked for a while before finally finding Cameron Adams; 
        an ex-Google gun, who’d worked on Wave and a few other projects. He was someone who shared their vision and culture, and is now Canva’s Chief Product Officer.</p>
            </article>
                        
            <article class="aboutcontact">
            <h2>Contact Us</h2>            
            
            <div class="map"><a href="#"><img src="{% static "img/map01.png" %}" alt="MAP" /></a></div>
            
            <p><span id="map_address">Our Magic Dungeon: Lincoln Blvd. at Bali Way Los Angeles, CA 90292</span></p>
            
            <div class="contactus">
            <p>If you have any suggestions or questions please shoot us an email, or reach out to us on Twitter!</p>
            
            <ul>
            <li><img src="{% static "img/email01.gif" %}" alt="PHOTO" /><a href="mailto:admin@magnate.io" class="email">admin@magnate.io</a></li>
            <li><img src="{% static "img/twitter02.gif" %}" alt="PHOTO" /><a href="http://twitter.com/magnatelabs" class="twitter">@magnatelabs</a></li>
            <li><img src="{% static "img/facebook02.gif" %}" alt="PHOTO" /><a href="http://www.facebook.com/pages/Magnate-Labs/197894490391670" class="facebook">facebook.com/magnate</a></li>
            </ul>
            </div>
            </article>        
            </div>
            </div>
            </div>
            
        </div><!-- aboutus -->
    </div><!-- grid_16 -->





{% endblock %}