{% load staticfiles %}
{% load avatar_tags %}	
	
	<div class="description-header-quickobjective"><!-- compact version of groups_objective.html -->
		<div class="quickobjective-container">
			<div class="quickobjective-image">
				<figure><!-- small version of admin defined image -->
					<a href="#"><img src="{% static "img/dash_hangoutstest.jpg" %}" alt="PHOTO" /></a>
					<p><a href="#">Read more</a></p>
				</figure>
				{% if current_objective %}
				<p>current lobby interest: {{ current_objective.entry.title }}</p> 
				{% else %}
				There are no active fundraisers in this lobby. Come back later...
				{% endif %}
			</div>
			<div class="quickobjective-amount">
				<div class="quickobjective-amount-total" id="dollar">
					<sup>$</sup>
					<span>{{ current_objective.current_amount }}</span>
				</div>
				<p>raised of {{ current_objective.target_amount }} planned</p>
			</div>
			<div class="quickobjective-countdown"> <!-- countdown from admin defined -->
				<div class="time-info">           
					<div id="defaultCountdown"></div>
					{{ current_objective.date|timeuntil }}<p>to go</p>     
				</div>
			</div>
			<div class="quickobjective-button">
				<div class="btn">Contribute to interest</div>
			</div>
			<aside>
				<p>If at least the minimum of {{ total_donation_amount }} is raised this investment will be presented to the greater Magnate community for integration into a Magnate Fund.</p>
			</aside>
		</div>						        
	</div>