{% extends "site_base.html" %}
{% block body_id %}normal_body{% endblock %}
{% load staticfiles %}
{% load magnate_tags %}
{% load i18n %}

{% block head_title %}{% trans "Lobby" %}{% endblock %}

{% block style_base %}
	<link href="{% static "css/jquery.fancybox-1.3.4.css" %}" rel="stylesheet">	
{{ block.super }}



{% load extra_tags extra_filters ui_registry %}
    <!-- Styling for OSQA -->
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>

        <script type="text/javascript">
        /*<![CDATA[*/
            // OSQA defines all those things - try to do without them   

            // google.load("jquery", "1");
            // google.load("jqueryui", "1", {autoload:true});

             var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            // var appUrl = '{{ settings.APP_URL }}'
             var scriptUrl = '{{ settings.FORCE_SCRIPT_NAME }}/'
             var osqaSkin = '{{ settings.OSQA_SKIN }}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url 'matching_tags' %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /*]]>*/
        </script>

        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>


{% comment %} OSQA has block forejs for javascript in the beginning. For now just linking it by inserting it here {% endcomment %}

  {% block forejs %}{% endblock %}

		
{% endblock %} 


{% block body_navigation %}
	{% include "_bodynav_groupshome.html" %}
{% endblock %}

{% block body %} 
<div class="grid_16">
    <div class="contentinner lobby-detail">
    	<div class="section1 section3 lobby-detail-breakdown extra-border">
   		
			{% include "groups/_breakdown.html" %}
   		
	   		<div class="section6"> {% comment %}section6 is also only for the dashboard mode. We want a pure white screen otherwise{% endcomment %}
		   		<div class="dash_zinniafeed grid_3 alpha omega">
			   		<div class="fund-feed">

                {% entry_feed entries False %}

				   	</div>
				</div>
			</div>
			
    	</div>
    </div> <!-- end_contentinner -->
</div> <!-- end_grid -->
{% endblock %}
















