{% extends "site_base.html" %}
{% block body_id %}normal_body{% endblock %}
{% load staticfiles %}
{% load magnate_tags %}
{% load i18n %}

{% load extra_tags extra_filters ui_registry %}
    <!-- Styling for OSQA -->
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>

        <script type="text/javascript">
        /*<![CDATA[*/
            // OSQA defines all those things - try to do without them   

            // google.load("jquery", "1");
            // google.load("jqueryui", "1", {autoload:true});

             var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            // var appUrl = '{{ settings.APP_URL }}'
             var scriptUrl = '{{ settings.FORCE_SCRIPT_NAME }}/'
             var osqaSkin = '{{ settings.OSQA_SKIN }}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url 'matching_tags' %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /*]]>*/
        </script>

        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>


{% comment %} OSQA has block forejs for javascript in the beginning. For now just linking it by inserting it here {% endcomment %}

  {% block forejs %}{% endblock %}

{% block body_navigation %}
	{% include "_bodynav_groupshome.html" %}
{% endblock %}  

{% block body %} 
<div class="grid_16">
    <div class="contentinner lobby-detail">
    	<div class="section1 section3 lobby-detail-breakdown"><!-- should be user selected groups -->
			{% include "groups/_breakdown.html" %}
				
			<div class="lobby-information-container">
					{{ statistics | safe }}
       
				<div class="section1 section3" id="portfolio_breakdown">
          	<div class="portfolio_heading-inner">
			<h1>Portfolio</h1>
			</div>			
          {% for company in portfolio %}
            <div class="portfolio_breakdown-container">
              {% if company.image %}
                <img src="{{ company.image.url }}" alt="LOGO" />
              {% else %}
                <img src="{% static "img/fundHome_tempimg1.jpg" %}" alt="PHOTO" />
              {% endif %}
              <div class="portfolio_breakdown-text">
                <h1>{{ company.name }}</h1> 
                <p>{{ company.description }}</p>  
                <p class="portfolio-tags">{{ company.tags }}</p>
              </div>
            </div>  
          {% endfor %}

        	<div class="portfolio_btn"><a href="#" class="btn" id="dashbtn_fix">See more</a></div>	
         </div> <!--section1 section3 portfolio_breakdown-->			
				<div class="section1 section3" id="relatedNews_breakdown"><!-- related news is now associated to a group -->	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
					<div class="relatedNews_btn"><a href="#" class="btn" id="dashbtn_fix">Load more</a></div>
	        	</div> <!--section1 section3 relatedNews_breakdown-->
			</div><!-- information-container -->			
		
		</div>
    </div> <!-- contentinner -->
</div> <!-- grid -->
{% endblock %}
















