{% extends "site_base.html" %}
{% block body_id %}normal_body{% endblock %}
{% load staticfiles %}
{% load magnate_tags %}
{% load i18n %}

{% block style_base %}
	<link href="{% static "css/jquery.fancybox-1.3.4.css" %}" rel="stylesheet">	

	<link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/main_bandaid.css" %}" rel="stylesheet">
    <link href="{% static "css/ui.css" %}" rel="stylesheet">
    <link href="{% static "css/960.css" %}" rel="stylesheet">   
           
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">		
	<link href="{% static "css/typography.css" %}" rel="stylesheet">
            
    <script src="{% static "js/jquery-1.9.0.min.js" %}"></script>


{% load extra_tags extra_filters ui_registry %}
    <!-- Styling for OSQA -->
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>

        <script type="text/javascript">
        /*<![CDATA[*/
            // OSQA defines all those things - try to do without them   

            // google.load("jquery", "1");
            // google.load("jqueryui", "1", {autoload:true});

             var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            // var appUrl = '{{ settings.APP_URL }}'
             var scriptUrl = '{{ settings.FORCE_SCRIPT_NAME }}/'
             var osqaSkin = '{{ settings.OSQA_SKIN }}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url 'matching_tags' %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /*]]>*/
        </script>

        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>


{% comment %} OSQA has block forejs for javascript in the beginning. For now just linking it by inserting it here {% endcomment %}

  {% block forejs %}{% endblock %}

{% endblock %}

{% block body_navigation %}
	{% include "_bodynav_groupshome.html" %}
{% endblock %}  

<!begin header>
{% block topbar_base %}
                <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                    <div class="navbar-inner">
                        <div class="container navbar-login-bandaid">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                {% if not request.user.is_authenticated %}
                                </a>
                                {% block site_brand_loggedout %}<a class="brand" href="{% url "home" %}" title="MAGNATE"><img src="{% static "img/logo.png" %}" alt="MAGNATE" /></a>{% endblock %}
                                {% endif %}
                                
                                {% if request.user.is_authenticated %}
                                </a>
                                {% block site_brand_loggedin %}<a class="brand" href="{% url "dashboard" %}" title="MAGNATE"><img src="{% static "img/logo.png" %}" alt="MAGNATE" /></a>{% endblock %}
                                {% endif %}
                                
                                {% if request.user.is_authenticated %}
                                <div class="nav-collapse">
                                	<ul class='unstyled'>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "dashboard" %}"><p>Dashboard</p></a>
											</div>
                                		</li>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "groups_all" %}"><p>Lobbies</p></a>
											</div>
                                		</li>
                                		<li>
	                                		<div class="quickselect-text">
    	                            			<a href="{% url "newstatus_home" %}"><p>Community</p></a>
											</div>
                                		</li>
                                	</ul>
                                </div>
								{% endif %}
								
                                    {% block nav %}
                                        {% comment %}
                                       <!--     <ul class="nav">
                                                <li><a href="#tab_one">One</a></li>
                                                <li><a href="#tab_two">Two</a></li>
                                            </ul> what is this?-->
                                        {% endcomment %}
                                    {% endblock %}                                 
                                    {% block account_bar %}
                                    <! Above django tag refers to "_account_bar" template>
                                    {% include "_account_bar.html" %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
{% endblock %}
<!end header>

{% block body %}
<div class="container"> 
<div class="grid_16">
    <div class="contentinner lobby-detail">
    	<div class="section1 section3 lobby-detail-breakdown extra-border"><!-- should be user selected groups -->
			
			{% include "groups/_breakdown.html" %}
				
			<div class="lobby-information-container">
					{{ statistics | safe }}
       
				<div class="section1 section3" id="portfolio_breakdown">
          	<div class="portfolio_heading-inner">
			<h1>Investments</h1>
			</div>			
          {% for company in portfolio %}
            <div class="portfolio_breakdown-container">
              {% if company.image %}
                <img src="{{ company.image.url }}" alt="LOGO" />
              {% else %}
                <img src="{% static "img/fundHome_tempimg1.jpg" %}" alt="PHOTO" />
              {% endif %}
              <div class="portfolio_breakdown-text">
                <h1>{{ company.name }}</h1> 
                <p>{{ company.description }}</p>  
                <p class="portfolio-tags">{{ company.tags }}</p>
              </div>
            </div>  
          {% endfor %}
          	
        	<div class="portfolio_btn"><a href="#" class="btn disabled" id="dashbtn_fix">See more</a></div>	
         </div> <!--section1 section3 portfolio_breakdown-->		
         
		  	{% comment %}
		  	Need to make a news section for each Lobby
		  	If you still want to do that

				<div class="section1 section3" id="relatedNews_breakdown"><!-- related news is now associated to a group -->	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
        	
					<div class="relatedNews_breakdown-container">           	
						<div class="relatedNews_breakdown-text">
							<a href="#"><h1>New Bitcoin Fraud Case</h1></a> 
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque enatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>	
							<a href="#"><p class="newsSource-link">CNN Money</p></a>
						</div>
					</div>
					<div class="relatedNews_btn"><a href="#" class="btn" id="dashbtn_fix">Load more</a></div>
	        	</div> <!--section1 section3 relatedNews_breakdown-->
	        	{% endcomment %}
	        	
			</div><!-- information-container -->			
		
		</div>
    </div> <!-- contentinner -->
</div> <!-- grid -->
</div>
{% endblock %}

{% block footer_base %}
{% endblock %}















