{% extends "site_base.html" %}
{% block body_id %}normal_body{% endblock %}
{% load staticfiles %}

{% block body_navigation %}
{% include "_bodynav_groupsall.html" %}
{% endblock %}

{% block style_base %}
{{ block.super }}
{% load i18n extra_tags extra_filters ui_registry %}
<link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %} 
<script type="text/javascript">
  function follow(category_pk, to_follow) {
    // tricky without hard-coding the address
    $.ajax({
        'type': 'POST',
        'url': "/lobby/follow_category/"+category_pk+ "/",
        'data': {
            'command': '' + to_follow ? 'follow' : 'unfollow',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
         },
         success: function(data) {
            if (!data['success']) {
                alert(data['error_message']);
                return;
            }
            $('#cat-btn-'+category_pk).html(data['commands']['update_button_text']);
         }   

    });
  }
</script>

<div class="grid_16">
    <div class="contentinner lobby_home">

    	<div class="lobby-header">
			<div class="lobby-header-description"><p>Follow a lobby to fill your dashboard feed with more updates.</p>
			</div>
    	</div>

        <div class="category-available-list">
            <div class="available-header">
                <span><p>Available</p></span><p> ({{ categories|length }})</p>
            </div>
            <div class="available-list">
                <ul class="unstyled">
                    {% for category in categories %}
                    <li>
                    <div class="available-list-lobby">
                        <div class="list-lobby-description">
                            {% with "/site_media/static/img/"|add:category.0.title|add:".jpg" as category_url %} 
                            <figure><img src="{% static category_url %}"/></figure> 
                            {% endwith %}
                            <span>
                                <p class="lobby-description-title"><a href="{% url 'category_home_page' category.0.pk %}">{{ category.0.title }}</a></p>
                                <p>{{ category.0.description }}</p>
                            </span>                         
                            <div class="lobby-description-follow">
                                <div class="btn" id="cat-btn-{{ category.0.pk }}" onclick="follow({{ category.0.pk }}, false );">

                                	{% if category.1 %}
                                	{% comment %}
                                	Need to fix this so it works.
                                	<p>+</p>
                                	{% endcomment %}
                                	<div class="follow-btn-text">Unfollow</div>
                                	{% else %}
                                	{% comment %}
                                	<p>+</p>
                                	{% endcomment %}
                                	<div class="follow-btn-text">Follow</div>
                                	{% endif %}
                                </div>                            
                            </div>  
                        </div>
                    </div>
                    </li>{% endfor %}
                </ul>
            </div>
        </div>

         <div class="category-available-list">
            <div class="available-header">
                <span><p>Unavailable</p></span><p>(0)</p>
            </div>
            
            {% comment %}
            We will have unavailable categories soon
            <div class="available-list">
                <ul class="unstyled">
                    {% for category in categories %}
                    <li>
                    <div class="available-list-lobby">
                        <div class="list-lobby-description">
                            <span>
                                <p class="lobby-description-title"><a href="{% url 'category_home_page' category.0.pk %}">{{ category.0.title }}</a></p>
                                <p>{{ category.0.description }}</p>
                            </span>                         
                            <div class="lobby-description-follow">
                                <div class="btn" id="cat-btn-{{ category.0.pk }}" onclick="follow({{ category.0.pk }}, false );">{% if category.1 %}Unfollow{% else %}Follow{% endif %}
                                </div>                            
                            </div>  
                        </div>
                    </div>
                    </li>{% endfor %}
                </ul>
            </div>
            {% endcomment %}
            
        </div>
            	
    </div> <!-- end_contentinner -->
</div> <!-- end_grid_16 -->

{% endblock %}