/* lightbox */
.popup{ width:100%; float:left; background:#FFFFFF; box-shadow: #333 0 0 5px; border-radius:3px; behavior: url(PIE.htc); position:relative}
.popup h3{ font-size:24px; color:#4c4c4c; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; padding-bottom:16px}
.popup h3 a{ color:#4c4c4c} 
.popup p{ font-size:16px; color:#4c4c4c}
.popup .btn{ width:110px; height:42px; float:right; box-shadow: #888 0 1px 2px; font-size:18px; line-height:42px}
.popup .btn:active, .btn.active { box-shadow: inset #5a872e 0 2px 3px, #888 0 1px 2px}
.lightbox{ width:340px; float:left; padding:5px}
.lightbox form{ width:70.6%; float:left; padding:28px 14.70% 40px 14.70%}
.lightbox form p{ width:100%; float: left; text-align:right}
.lightbox form p a{ color:#00468c}

.lightbox form label{ width:100%; float:left; font-size:14px; padding-bottom:4px; margin-bottom:0}
.lightbox form .input{ width:91.5%; height:16px; float:left; background:#FFFFFF; box-shadow:none; box-shadow:inset #aeaeae 1px 1px 2px; border:1px solid #bebebe; border-radius:4px; behavior: url(PIE.htc); position:relative; font-family:"HelveticaNeueLTStd55Roman", Arial, Helvetica, sans-serif; font-size:14px; padding:7px 4%}
.lightbox form ul{ width:100%; float:left; padding-bottom:25px}
.lightbox form ul li{  width:100%; float:left; padding-bottom:15px}
.lightbox form .btn{ box-shadow: #888 0 1px 2px; margin-bottom:25px}
.lightbox form .btn:active, .btn.active { box-shadow: inset #6a872e 0 2px 3px, #888 0 1px 2px}

.lightboxsignup{ width:564px; float:left; padding:5px}
.lightboxsignup aside{ width:100%; float:left; padding:28px 0}
.lightboxsignup h3{ text-align:center}
.lightboxsignup p{ text-align:center; padding:0 23% 40px 23%}
.lightboxsignup .btns{ width:110px; margin:0 auto}

/* Account detail */
header .toplinks{ float:right; padding-right:10px; padding-top:13px}
header .toplinks ul{ float:left; font-size:13px}
header .toplinks ul li{ height:28px; float:left; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; padding:0 0 0 44px; position:relative}
header .toplinks ul li a{ color:#FFFFFF; text-decoration:none}

header .toplinks .user-info{ height:37px; float:left; font-size:13px; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; margin-top:-2px; position:relative; padding-left:44px}
header .toplinks .user-info a{ color:#FFFFFF; text-decoration:none}
header .toplinks .user-info img{ margin:-3px 5px 0 0; box-shadow: #333 0 0 4px; behavior: url(PIE.htc); position:relative}
header .toplinks .user-info:hover .dropbox{ position:absolute; display: block}
header .toplinks .user-info .dropbox{ width:147px; float:left; position:absolute; top:37px; right:0; display: none; padding-right:44px}
header .toplinks .user-info .dropbox .curve{ width:19px; height:10px; float:left; background:url(../img/curve01.png) no-repeat; position:absolute; top:-10px; left:88px; z-index:100}
header .toplinks .user-info .dropbox ul{ width:100%; float:left; background:#5e5e5e; box-shadow: #f0efeb 0 0 4px; border-radius:1px; behavior: url(PIE.htc); position:relative; padding:5px 0}
header .toplinks .user-info .dropbox ul li{ width:100%; height:auto; float:left; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; padding:0}
header .toplinks .user-info .dropbox ul li a{ width:86.4%; float:left; color:#d8d5d5; padding:4px 0 4px 13.6%}
header .toplinks .user-info .dropbox ul li a:hover{ background:#525252; color:#FFFFFF; text-decoration:none}
header .toplinks .user-info .dropbox ul li a.active{ background:#525252; color:#FFFFFF; text-decoration:none}
header .toplinks .user-info .dropbox ul li.logout{ background:url(../img/divider02.gif) repeat-x top left; padding-top:5px; margin-top:4px}

.accountdetail{ width:100%; float:left; padding:58px 0 100px 0}
.accountdetail h1{ padding-bottom:45px}
.accountdetail h2{ font-family:"helveticaneuelight",Arial, Helvetica, sans-serif; font-size:36px; padding-bottom:9px}
.accountdetail article{ width:100%; float:left}
.accountdetail article aside{ width:380px; float:left; padding-bottom:97px}
.accountdetail article ul{ width:100%; padding-bottom:15px}
.accountdetail label{ font-size:16px; color:#4c4c4c}
.accountdetail .input{ width:87.5%; height:25px; color:#9f9f9f; padding:5px 6%}
.accountdetail .first{ width:47.70%}
.accountdetail .email .input{ width:91.5%; padding:7px 4%}
.accountdetail .sbHolder{ font-size:14px}
.accountdetail .sbSelector{ top:-1px}
.accountdetail .city{ width:36.84%; float:left}
.accountdetail .city .input{ width:82%; padding:7px 8%}
.accountdetail .state{ width:21%; float:left; padding:0 30px}
.accountdetail .state .sbHolder{ color:#999999; margin-top:2px}
.accountdetail .state .sbSelector{ color:#999999}
.accountdetail .code{ width:26.31%; float:left}
.accountdetail .code .input{ width:85%; height:21px; color:#9f9f9f; padding:7px 8%}
.accountdetail .btn{ margin-right:20px}

.lightboxaccount{ width:515px; float:left; padding:5px}
.lightboxaccount aside{ width:100%; float:left; padding:28px 0}
.lightboxaccount h3{ text-align:center; padding-bottom:30px}
.lightboxaccount p{ text-align:center; padding:0 0 35px 0}
.lightboxaccount .btns{ width:186px; margin:0 auto}
.lightboxaccount .btn{ width:186px}

/*----------------------------------------------------------------------------------------------------
Dashboard v5 Styling
created: jmw 05.15.14
updated: jmw 06.25.14
----------------------------------------------------------------------------------------------------*/
#dashboard_body {margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background:#edece8 url(../img/bg_body.gif) repeat-x top left; padding-top: 80px;}
.user_breakdown{width:100%; float:left; background:#cacac8 url(/site_media/static/img/bg01.png) repeat-y top right; border-radius: 2px 2px 0 0; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0px 0px 0px 30px}
.ub_statusinfo{width:160px; float:left; background:#a6c987; box-shadow: #999 0 0 1px; border-radius:3px; behavior: url(PIE.htc); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative; padding:16px 19px 19px 19px}
.ub_statusinfo p { font-size:12px; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center; line-height:17px; padding-bottom:6px; margin: 0 0 0px;}
.ub_statusinfo p span { font-size:24px}
.ub_statusinfo figure { width:100%; float:left; border:1px solid #748c5e; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative}
.ub_statusinfo figure img { width:100%}
.ub_statusinfo .icon-plus { width:37px; height:31px; float:left; background:url(/site_media/static/img/icon-plus01.png) no-repeat; position:absolute; bottom:-8px; right:-11px; font-size:27px; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; text-align:center; color:#FFFFFF; text-decoration:none; line-height:25px}
.ub_tabcontent { width:490px; float:left; margin:29px 0 0 28px}
.ub_tablinks { width:100%; float:left}
.ub_tablinks ul { float:left; padding:0 0 0 19px; -webkit-margin-after: 0em; -webkit-margin-before: 0em;}
.ub_tablinks ul li { height:20px; float:left; font-size:12px}
.ub_tablinks ul li:first-child { margin-right:-5px; position:relative; z-index:55}
.ub_tablinks ul li a { height:20px; float:left; color:#4c4c4c; background:url(/site_media/static/img/bg-tab01.png) no-repeat top right; border-radius: 4px 0 0 0; behavior: url(PIE.htc); position:relative; border-bottom:1px solid #7e7f7e; z-index:50; line-height:22px; padding:0 20px 0 10px; margin-bottom:-4px}
.ub_tablinks ul li a:hover { text-decoration:none}
.ub_tablinks ul li a.selected { height:24px; background:url(/site_media/static/img/bg-tab02.png) no-repeat top right; text-decoration:none; border-bottom-color:#a6c987; z-index:56}
.ub_tabbox { width:100%; float:left; background:#a6c987; border:1px solid #b2b2b1; box-shadow:inset #929f86 0 0 3px; border-radius: 3px; behavior: url(PIE.htc); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative; padding:18px 10px 20px 30px}
.ub_tabbox article { width:60%; float:left}
.ub_tabbox article p { font-size:14px; color:#FFFFFF; padding-bottom:10px}
.ub_tabbox article h2 { font-size:48px; color:#FFFFFF; padding-bottom:19px; line-height: 25px;}
.ub_tabbox article h2 sup { font-size:36px; top:-0.3em; font-family:"Tahoma", Arial, Helvetica, sans-serif}
.ub_tabbox aside { width:40%; float:right; padding:20px 0 0 0}
.ub_tabbox aside p { font-size:14px; color:#FFFFFF; text-align:center; padding-bottom:12px}
.ub_tabbox aside p a{ color:#5a8e22; text-decoration:underline}
.ub_tabbox aside p a:hover { text-decoration:none}
.ub_otheractions { width:199px; float:right; background:#fcfcfc; border-radius: 0 2px 0 0; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:15px 18px 5px 18px}
.ub_otheractions aside { width:100%; float:left; background:#f9f0ec; box-shadow: #dddddd 0 2px 2px; border-radius:7px; behavior: url(PIE.htc); position:relative; padding:12px 0; margin-bottom:20px}
.ub_otheractions aside p { font-size:10px; color:#4c4c4c; text-align:center; margin: 0 0 0px; line-height: 13px;}
.ub_otheractions aside p span { color:#2398c9}
.ub_otheractions aside p span a { color:#2398c9}
.ub_otheractions .blue_feedback { background:#d7e4e7}
.ub_otheractions .gray_news { background:#f8f8f8}
.hangouts_dropdown { width:100%; float:left; background:#313131 url(../img/shadow01.png) repeat-x top left; box-shadow:inset #474747 0 -5px 5px; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:14px 16.52%}
.hangouts_dropdown aside { width:170px; float:left; vertical-align:middle; padding-top:8px}
.hangouts_dropdown aside h2 { font-size:36px; color:#FFFFFF; text-align:center; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; line-height:32px; padding-bottom:2px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.hangouts_dropdown aside h2 span { font-size:22px}
.hangouts_dropdown aside h2 a { color:#FFFFFF}
.hangouts_dropdown figure { width:285px; float:left; text-align:center}
.hangouts_dropdown .btn-middle { width:110px; margin:0 auto; }
.hangouts_dropdown .icon-close { width:13px; height:13px; float:left; background:url(/site_media/static/img/icon_close01.png) no-repeat center center; text-indent:-99999px; position:absolute; top:13px; right:23px}
#dashbtn_fix {font-size: 11px;}
.section6-bg { width:100%; float:left; background:#ffffff; border-radius:0 0 2px 0; behavior: url(PIE.htc); position:relative;}
.section6 { width:100%; float:left; background:url(/site_media/static/img/bg02.png) repeat-y top left}
.dash_zinniafeed { width: 280px; }
.fund-feed { width:100%; float:left}
.fund-feed article { width:100%; float:left; background:#4a4a49; border-top:1px solid #5d5d5c; padding:20px 0 10px 0}
.fund-feed article h4 { font-size:14px; color:#FFFFFF; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; line-height:15px; padding:0 15% 6px 0; margin: 0px 20px;}
.fund-feed article h4 a { color:#FFFFFF; font-weight: normal;}
.fund-feed article p { font-size:12px; color:#FFFFFF; margin: 0 20px 0px; line-height: 15px;}
.fund-feed article p a { color:#FFFFFF}
.fund-feed aside { width:100%; height:120px; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0 20px 0 20px; position:relative}
.fund-feed .article-active { background:#aec987; box-shadow:inset #d5e6bd 0 -3px 5px, #6e775f 0 -1px 0; behavior: url(PIE.htc); position:relative; padding:14px 0 22px 0}
.fund-feed .article-active figure { width:100%; float:left; padding-bottom:16px}
.fund-feed .article-active figure img { width:100%}
.fund-feed .article-active h3 { font-size:16px; color:#FFFFFF; padding:0 0 8px 20px}
.fund-feed .article-active h3 a { color:#FFFFFF}
.fund-feed .article-active h3 span { color:#4c4c4c}
.fund-feed .article-active h3 span a { color:#4c4c4c}
.fund-feed .article-active h4 { font-size:24px; line-height:28px; padding-bottom:16px; padding-left: 10px;}
.fund-feed .article-active aside { height:auto}
.fund-feed .btn-bg { width:100%; float:left; padding:23px 0 23px 0; border-bottom: 1px solid #c5c6c5;}
.fund-feed .btn-middle { width:85px; margin:0 auto}
.right-col { width:658px; float:right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:30px 12px 0 12px}

/*----------------------------------------------------------------------------------------------------
Embedded Question List Styling Additions
created: jmw 06.28.14
updated: jmw 06.28.14
----------------------------------------------------------------------------------------------------*/
.tabsA a {font-size: 8px;}


