/*----------------------------------------------------------------------------------------------------
Common Styles
created: jmw 07.08.14
updated: jmw 07.08.14
----------------------------------------------------------------------------------------------------*/
.contentinner_header { width:100%; float:left; min-height:92px;}
.contentinner_header h1{ font-family:"helveticaneuelight", Arial, Helvetica, sans-serif; font-size:36px; color:#4d4c4b; line-height:92px; padding:0 0 0 6.2%}



/*----------------------------------------------------------------------------------------------------
Share Lightbox Styles
created: jmw
updated: jmw 07.18.14
----------------------------------------------------------------------------------------------------*/
.lightbox{ width:500px; float:left; padding:5px}
.lightbox form{ width:100%; float:left; padding: 0px 0px 0px 0px;}
lightbox form p{ width:100%; float: left; text-align:right}
lightbox form p a{ color:#00468c}

.lightbox form label{ width:100%; float:left; font-size:14px; padding-bottom:4px; margin-bottom:0}
.lightbox form .input{ width:91.5%; height:16px; float:left; background:#FFFFFF; box-shadow:none; box-shadow:inset #aeaeae 1px 1px 2px; border:1px solid #bebebe; border-radius:4px; behavior: url(PIE.htc); position:relative; font-family:"HelveticaNeueLTStd55Roman", Arial, Helvetica, sans-serif; font-size:14px; padding:7px 4%}
.lightbox form ul{ width:100%; float:left; padding-bottom:25px}
.lightbox form ul li{  width:100%; float:left; padding-bottom:15px}
.lightbox form .btn{ box-shadow: #888 0 1px 2px; margin-bottom:25px}
.lightbox form .btn:active, .btn.active { box-shadow: inset #6a872e 0 2px 3px, #888 0 1px 2px}

.lightboxsignup{ width:564px; float:left; padding:5px}
.lightboxsignup aside{ width:100%; float:left; padding:28px 0}
.lightboxsignup h3{ text-align:center}
.lightboxsignup p{ text-align:center; padding:0 23% 40px 23%}
.lightboxsignup .btns{ width:110px; margin:0 auto}
.popup{ width:100%; float:left; background:#FFFFFF; box-shadow: #333 0 0 5px; border-radius:3px; behavior: url(PIE.htc); position:relative}
.popup h3{ font-size:24px; color:#4c4c4c; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; padding-bottom:16px}
.popup h3 a{ color:#4c4c4c} 
.popup p{ font-size:16px; color:#4c4c4c}
.popup .btn{ width:110px; height:42px; float:right; box-shadow: #888 0 1px 2px; font-size:18px; line-height:42px}
.popup .btn:active, .btn.active { box-shadow: inset #5a872e 0 2px 3px, #888 0 1px 2px}
.popup .contentinner_header .invite_blue h1 { font-size: 30px; }
#invite_content {padding: 0 6% 70px 6.3%; background: #f8f8f8; }
#invite_container {width: 438px;}
.share_main_add-container {width: 77%; float: left;}
.share_main_add-container textarea {font-size: 11px;}

/*----------------------------------------------------------------------------------------------------
Account Detail Styles
created: jmw old
updated: jmw n/a
----------------------------------------------------------------------------------------------------*/
header .toplinks{ float:right; padding-right:10px; padding-top:13px}
header .toplinks ul{ float:left; font-size:13px}
header .toplinks ul li{ height:28px; float:left; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; padding:0 0 0 44px; position:relative}
header .toplinks ul li a{ color:#FFFFFF; text-decoration:none}

header .toplinks .user-info{ height:37px; float:left; font-size:13px; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; margin-top:-2px; position:relative; padding-left:44px}
header .toplinks .user-info a{ color:#FFFFFF; text-decoration:none}
header .toplinks .user-info img{ margin:-3px 5px 0 0; box-shadow: #333 0 0 4px; behavior: url(PIE.htc); position:relative}
header .toplinks .user-info:hover .dropbox{ position:absolute; display: block}
header .toplinks .user-info .dropbox{ width:147px; float:left; position:absolute; top:37px; right:0; display: none; padding-right:44px}
header .toplinks .user-info .dropbox .curve{ width:19px; height:10px; float:left; background:url(../img/curve01.png) no-repeat; position:absolute; top:-10px; left:88px; z-index:100}
header .toplinks .user-info .dropbox ul{ width:100%; float:left; background:#5e5e5e; box-shadow: #f0efeb 0 0 4px; border-radius:1px; behavior: url(PIE.htc); position:relative; padding:5px 0}
header .toplinks .user-info .dropbox ul li{ width:100%; height:auto; float:left; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; padding:0}
header .toplinks .user-info .dropbox ul li a{ width:86.4%; float:left; color:#d8d5d5; padding:4px 0 4px 13.6%}
header .toplinks .user-info .dropbox ul li a:hover{ background:#525252; color:#FFFFFF; text-decoration:none}
header .toplinks .user-info .dropbox ul li a.active{ background:#525252; color:#FFFFFF; text-decoration:none}
header .toplinks .user-info .dropbox ul li.logout{ background:url(../img/divider02.gif) repeat-x top left; padding-top:5px; margin-top:4px}

.accountdetail{ width:100%; float:left; padding:58px 0 100px 0}
.accountdetail h1{ padding-bottom:45px}
.accountdetail h2{ font-family:"helveticaneuelight",Arial, Helvetica, sans-serif; font-size:36px; padding-bottom:9px}
.accountdetail article{ width:100%; float:left}
.accountdetail article aside{ width:380px; float:left; padding-bottom:97px}
.accountdetail article ul{ width:100%; padding-bottom:15px}
.accountdetail label{ font-size:16px; color:#4c4c4c}
.accountdetail .input{ width:87.5%; height:25px; color:#9f9f9f; padding:5px 6%}
.accountdetail .first{ width:47.70%}
.accountdetail .email .input{ width:91.5%; padding:7px 4%}
.accountdetail .sbHolder{ font-size:14px}
.accountdetail .sbSelector{ top:-1px}
.accountdetail .city{ width:36.84%; float:left}
.accountdetail .city .input{ width:82%; padding:7px 8%}
.accountdetail .state{ width:21%; float:left; padding:0 30px}
.accountdetail .state .sbHolder{ color:#999999; margin-top:2px}
.accountdetail .state .sbSelector{ color:#999999}
.accountdetail .code{ width:26.31%; float:left}
.accountdetail .code .input{ width:85%; height:21px; color:#9f9f9f; padding:7px 8%}
.accountdetail .btn{ margin-right:20px}

.lightboxaccount{ width:515px; float:left; padding:5px}
.lightboxaccount aside{ width:100%; float:left; padding:28px 0}
.lightboxaccount h3{ text-align:center; padding-bottom:30px}
.lightboxaccount p{ text-align:center; padding:0 0 35px 0}
.lightboxaccount .btns{ width:186px; margin:0 auto}
.lightboxaccount .btn{ width:186px}

/*----------------------------------------------------------------------------------------------------
Dashboard v5 Styling
created: jmw 05.15.14
updated: jmw 06.25.14
----------------------------------------------------------------------------------------------------*/
#dashboard_body {margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background:#edece8 url(../img/bg_body.gif) repeat-x top left; padding-top: 80px;}
.user_breakdown{width:100%; float:left; background:#cacac8 url(/site_media/static/img/bg01.png) repeat-y top right; border-radius: 2px 2px 0 0; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0px 0px 0px 30px}
.ub_statusinfo{width:160px; float:left; background:#9AD086; border-radius:3px; behavior: url(PIE.htc); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative; padding:16px 19px 19px 19px}
.ub_statusinfo p { font-size:12px; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center; line-height:17px; padding-bottom:6px; margin: 0 0 0px;}
.ub_statusinfo p span { font-size:24px}
.ub_statusinfo figure { width:100%; float:left; border:1px solid #748c5e; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative}
.ub_statusinfo figure img { width:100%}
.ub_statusinfo .icon-plus { width:37px; height:31px; float:left; background:url(/site_media/static/img/icon-plus01.png) no-repeat; position:absolute; bottom:-8px; right:-11px; font-size:27px; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; text-align:center; color:#FFFFFF; text-decoration:none; line-height:25px}
.ub_tabcontent { width:490px; float:left; margin:26px 0 0 28px}
.ub_tablinks { width:100%; float:left}
.ub_tablinks ul { float:left; padding:0 0 0 19px; -webkit-margin-after: 0em; -webkit-margin-before: 0em;}
.ub_tablinks ul li { height:20px; float:left; font-size:12px}
.ub_tablinks ul li:first-child { margin-right:-5px; position:relative; z-index:55}
.ub_tablinks ul li a { height:20px; float:left; color:#4c4c4c; background:url(/site_media/static/img/bg-tab01.png) no-repeat top right; border-radius: 4px 0 0 0; behavior: url(PIE.htc); position:relative; border-bottom:1px solid #7e7f7e; z-index:50; line-height:22px; padding:0 20px 0 10px; margin-bottom:-4px}
.ub_tablinks ul li a:hover { text-decoration:none}
.ub_tablinks ul li a.selected { height:24px; background:url(/site_media/static/img/bg-tab02.png) no-repeat top right; text-decoration:none; border-bottom-color:#a6c987; z-index:56}				
.ub_tabbox { width:100%; float:left; background:url(/site_media/static/img/bg-tab06.png) repeat top right;; border-radius: 3px; behavior: url(PIE.htc); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position:relative; padding:18px 10px 20px 30px}
.ub_tabbox article { width:60%; float:left}
.ub_tabbox article p { font-size:14px; color:#FFFFFF; padding-bottom:10px}
.ub_tabbox article h2 { font-size:48px; color:#FFFFFF; padding-bottom:19px; line-height: 25px;}
.ub_tabbox article h2 sup { font-size:36px; top:-0.3em; font-family:"Tahoma", Arial, Helvetica, sans-serif}
.ub_tabbox aside { width:40%; float:right; padding:20px 0 0 0}
.ub_tabbox aside p { font-size:14px; color:#FFFFFF; text-align:center; padding-bottom:12px}
.ub_tabbox aside p a{ color:#5a8e22; text-decoration:underline}
.ub_tabbox aside p a:hover { text-decoration:none}
.ub_otheractions { width:199px; float:right; background:#fcfcfc; border-radius: 0 2px 0 0; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:15px 18px 5px 18px}
.ub_otheractions aside { width:100%; float:left; background:#f9f0ec; box-shadow: #dddddd 0 2px 2px; border-radius:7px; behavior: url(PIE.htc); position:relative; padding:12px 0; margin-bottom:20px}
.ub_otheractions aside p { font-size:10px; color:#4c4c4c; text-align:center; margin: 0 0 0px; line-height: 13px;}
.ub_otheractions aside p span { color:#2398c9}
.ub_otheractions aside p span a { color:#2398c9}
.ub_otheractions .blue_feedback { background:#d7e4e7}
.ub_otheractions .gray_news { background:#f8f8f8}
.dashboard-divider {float: left; width: 100%; padding: 10px 0px 10px 0px; background: #313131 url(../img/shadow01.png) repeat-x top left; }
.hangouts_dropdown {display: none; width:100%; float:left; background:#313131 url(../img/shadow01.png) repeat-x top left; behavior: url(PIE.htc); position:relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0px 16.52%}
.hangouts_dropdown aside { width:170px; float:left; vertical-align:middle; padding-top:8px}
.hangouts_dropdown aside h2 { font-size:36px; color:#FFFFFF; text-align:center; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif; line-height:32px; padding-bottom:2px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; }
.hangouts_dropdown aside h2 span { font-size:22px}
.hangouts_dropdown aside h2 a { color:#FFFFFF}
.hangouts_dropdown figure { width:285px; float:left; text-align:center}
.hangouts_dropdown .btn-middle { width:110px; margin:0 auto; }
.hangouts_dropdown .icon-close { width:13px; height:13px; float:left; background:url(/site_media/static/img/icon_close01.png) no-repeat center center; text-indent:-99999px; position:absolute; top:13px; right:23px}
#dashbtn_fix {font-size: 11px;}
.section6-bg { width:100%; float:left; background:#ffffff; border-radius:0 0 2px 0; behavior: url(PIE.htc); position:relative;}
.section6 { width:100%; float:left; background:url(/site_media/static/img/bg02.png) repeat-y top left}
.dash_zinniafeed { width: 280px; }
.fund-feed { width:100%; float:left}
.fund-feed article { width:100%; float:left; background:#4a4a49; border-top:1px solid #5d5d5c; padding:20px 0 10px 0}
.fund-feed article h4 { font-size:14px; color:#FFFFFF; font-family:"helveticaneuemedium", Arial, Helvetica, sans-serif; line-height:15px; padding:0 15% 6px 0; margin: 0px 20px;}
.fund-feed article h4 a { color:#FFFFFF; font-weight: normal;}
.fund-feed article p { font-size:12px; color:#FFFFFF; margin: 0 20px 0px; line-height: 15px;}
.fund-feed article p a { color:#FFFFFF}
.fund-feed aside { width:100%; height:120px; float:left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding:0 20px 0 20px; position:relative}
.fund-feed .article-active { background:#aec987; position:relative; padding:14px 0 22px 0}
.fund-feed .article-active figure { width:100%; float:left; padding-bottom:16px}
.fund-feed .article-active figure img { width:100%}
.fund-feed .article-active h3 { font-size:16px; color:#FFFFFF; padding:0 0 8px 20px}
.fund-feed .article-active h3 a { color:#FFFFFF}
.fund-feed .article-active h3 span { color:#4c4c4c}
.fund-feed .article-active h3 span a { color:#4c4c4c}
.fund-feed .article-active h4 { font-size:24px; line-height:28px; padding-bottom:16px; padding-left: 10px;}
.fund-feed .article-active aside { height:auto}
.fund-feed .btn-bg { width:100%; float:left; padding:23px 0 23px 0; border-bottom: 1px solid #c5c6c5;}
.fund-feed .btn-middle { width:85px; margin:0 auto}
.right-col { width:658px; float:right; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.question_banner { background: #f4f6f6; width: 100%; float: left; margin: 5px 0px 20px 0px; border: 1px solid #e7e8e8}
#askquestion_fix {font-size: 12px; float: right; margin: 5px 10px 5px 0px; color: #7e3630; border-color: #e7dddc;}

/*----------------------------------------------------------------------------------------------------
Embedded Question List Styling Additions
created: jmw 06.28.14
updated: jmw 06.28.14
----------------------------------------------------------------------------------------------------*/
.tabBar .tabsA { padding: 0px 7px 0px 0px; }
.tabBar .tabsA a {font-size: 8px; padding: 0px 5px;}
#div_activity #listA { padding: 20px 0px 0px 0px;}

/*----------------------------------------------------------------------------------------------------
Status Home Styling
created: jmw 06.30.14
updated: jmw 06.30.14
----------------------------------------------------------------------------------------------------*/
.inner_blue { width:100%; float:left; background:#d2e3e7}
.section1_status_display {width: 64%; float: left; margin: 2px 92px 10px 0px; background: #388173;}
.section1_status_display h4 {color: #ffffff; padding-left: 40px;}
.additional_right-overlay { width: 178px; float: right; margin-right: 58px; margin-top: 40px; display: inline; border: 1px solid #c7c8c8;}
.order_right-overlay { width:100%; float:right; background:#ffffff}
.order_right-overlay .roinner_one  { width:100%; float:right;}
.order_right-overlay .roinner_one article {width: 100%; float: left; padding: 0px 0% 40px 5%;}
.order_right-overlay .roinner_one article ul{ width:100%; float:left; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:14px; list-style-type: none;}
.order_right-overlay .roinner_one article ul li { width:100%; float:left; color:#4d4c4b; padding:7px 0}
.order_right-overlay .roinner_one article ul li img { width: 32px; float:left; padding-right: 10px;}
.order_right-overlay .roinner_one article ul li p { font-size: 12px; line-height: normal; padding-top:3px; width: 85%;}
.order_right-overlay .roinner_one article ul li a { color: #4d4c4b;	text-decoration: none;}
.order_right-overlay .roinner_two  { width:100%; float:right; border-bottom:1px solid #e2e2e2;}
.order_right-overlay .roinner_two article {width: 71.6%; float: left; padding: 5px 14.6% 0px 10%;}
.order_right-overlay .roinner_two article ul{ width:100%; float:left; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:14px; list-style-type: none;}
.order_right-overlay .roinner_two article ul li { width:100%; float:left; color:#4d4c4b; }
.order_right-overlay .roinner_two article ul li a { color: #4d4c4b;	text-decoration: none;}
.status_section1{ width:100%; float:left; padding:0px 0% 40px 0%}
.status-info{ width:74%; float:left; padding:40px 0% 12px 0%;}
.status-info article{ width:90%; float:left; padding:0px 0% 26px 58px;}
.status-info figure{ width:180px; float:left; -webkit-margin-start: 0px; -webkit-margin-end: 0px; margin: 0px; padding: 0px; }
.status-info figure img{ border:1px solid #b2b2b2}
.status-info aside{ width:66.5%; float:right; padding-bottom: 10px; padding-left: 20px; }
.status-info .btn-middle {float: right; margin-right: 16px; margin-top: 20px;}
.status_section2 { width:100%; float:left; min-height:92px; }
.status_section2 h4 {padding-left: 54px;}
.status_actions { width: 100%; float: left; padding: 0px 0% 0px 54px; }
.actions_info {width: 43%; float: left; padding: 0px 0% 26px 0%; margin: 10px 10px 0px 0px; background: #ffffff; border: 1px solid #bdbebf;}
.actions_info .inner_empty {width: 80%; float: left; min-height: 40px;}
.actions_info .action_counter {width: 12%; float: right; background-color: #ababab; border-radius: 4px; margin: 10px 10px 0px 0px;}
.actions_info .action_counter h4 {padding-left: 10px; font-size: 14px; font-weight: bold; margin: 5px;}
.actions_info article {float: left; margin-top: -20px;}
.actions_info article figure {float: left; min-height: 100px; padding-left: 20px; padding-right: 10px;}
.actions_info article figure img { width: 58px;}
.actions_info article h4 {margin: 5px; }
.actions_info article p {font-size: 10px; width: 95%; line-height: normal; }
.karma_tip { width: 78.7%; float: left; padding: 0px 0% 26px 0%; margin: 0px 0px 0px 115px; }
.karma_tip article {width: 90%; float: left; padding: 0px 0% 26px 7.8%; }
.karma_tip article figure {width: 132px; float: left; margin: -2px 0px 0px 302px; }
.karma_tip article aside {width: 33.2%; float: right; padding-bottom: 10px; padding-top: 48px; }
.karma_tip article h3 { font-size: 18px; line-height: 0px; }
.karma_tip article aside p { font-size: 14px; }
.status_section3 { width:100%; float:left; min-height:92px; }
.status_section3 h1 { padding-left: 50px; margin: 25px 0px 25px 80px;}
.allstatus_container { width: 80%; float: left; margin: 0px 0px 0px 100px; border-top: 2px solid #818484; }
.allstatus_list { width: 100%; float: left; padding: 20px 0% 140px 0%; }
.allstatus_list h4 { font-size: 18px; padding-top: 40px; }
.allstatus_awards { width: 86%; float: left; margin: 0px 50px 0px 50px;}
.allstatus_awards ul{ width:100%; float:left; list-style-type: none; -webkit-padding-start: 0px; -webkit-margin-before: 0em;}
.allstatus_awards ul li { width: 100%; float: left; padding: 25px 0px 0px 0px; }
.allstatus_awards ul li figure { width: 135px; float: left; -webkit-margin-start: 0px; -webkit-margin-end: 0px; }
.allstatus_awards ul li figure img { padding-left: 20px; }
.section3_status_display1 {width: 100%; float: left; margin: 0px 0px 0px 0px; background: #388173; border: 1px solid #bdbebf;}
.status_display_description {width: 90%;float: left; background-color: #eeeeee; border-bottom: 1px solid #bdbebf; margin: 0px 0px 0px 30px; border-left: 1px solid #bdbebf; border-right: 1px solid #bdbebf;}
.status_section3 .section3_status_display1 h1 {color: #fff;}
.status_display_description aside {margin: 10px 30px 20px 30px;}
.section3_status_display2 {width: 100%; float: left; margin: 0px 0px 0px 0px; background: #d38900; border: 1px solid #bdbebf; opacity: .65;}
.section3_status_display3 {width: 100%; float: left; margin: 0px 0px 0px 0px; background: #5b864c; border: 1px solid #bdbebf; opacity: .65;}
.section3_status_display4 {width: 100%; float: left; margin: 0px 0px 0px 0px; background: #ed009e; border: 1px solid #bdbebf; opacity: .65;}


/*----------------------------------------------------------------------------------------------------
Fund Home Styling
created: jmw 07.03.14
updated: jmw 07.03.14
----------------------------------------------------------------------------------------------------*/
.first_fund-description { width: 58%; float: left; background: #FFFFFF; padding: 25px 4.16% 0px 4.16%;}
.first_fund-description h1{ font-family:"Helvetica Neue",Arial, Helvetica, sans-serif; color:#4d4c4b; padding-bottom:9px; font-size: 30px;}
.first_fund-description p{ font-size:17px; color:#4d4c4b; padding-bottom:30px}
.contribution-container{ width:240px; margin:0 auto; float: right; padding: 40px 40px 0px 0px; }
.contribution-container  h4{ font-size:16px; color:#4c4c4c; padding:0 0 0 12px; opacity: .8;}
.contribution-contentinner { width:100%; float:left; background:#f8f8f8; border:1px solid #e3e4e4}
.contribution-contentinner article{ width:92.2%; float:left; padding:0 3.9%}
.contribution-contentinner .current-amount{ width:100%; float:left; }
.contribution-contentinner .current-amount #dollar{ width:100%; float:left; padding-bottom:10px; font-size:72px; color:#a6c987; line-height:60px; text-align:center; margin-left: -6px; }
.contribution-contentinner .current-amount #dollar sup {top:-.6em; font-size: 50%;}
.contribution-container .bg-btn{ width:240px; margin:0 auto; float: right; }
.contribution-container .startedbtn{ width: 100%; line-height: 50px; margin-top: 20px;}
.fund_metrics-container { width: 61% ; margin:0 ; float: left; padding: 0px 0px 40px 4.6%;}
.metrics-contentinner { width:100%; float:left;}
.metric { width:230px; float:left; background:#4a4a49; min-height: 75px; margin-left: 20px; margin-bottom: 20px}
.metric article { width: 90%; margin: 0px 0px 0px 10px; float: left; }
.metric-text { width: 55%; color: #ffffff; text-align: center; font-size: 17px; float: left; font-family: "helveticaneuelight", Arial, Helvetica, sans-serif; padding: 15px 0px 0px 10px; }
.metric-amount1 { width: 40%; color: #55a51c; float: left;}
.metric-amount1 p {padding: 25px 0px 0px 20px; font-size: 47px;}
.metric-text2 { width: 55%; color: #ffffff; text-align: center; font-size: 17px; float: left; font-family: "helveticaneuelight", Arial, Helvetica, sans-serif; padding: 15px 0px 0px 0px; }
.metric-amount2 { width: 45%; color: #55a51c; float: left;}
.metric-amount2 p {padding: 25px 0px 0px 0px; font-size: 26px;}
.no_change {color: #d3222a;}
.fundbtn {float: right; margin-right: 56px; }
#second_fund {background: #c3e69d; margin: 40px 0px 20px 0px;}
.second_fund-container { width: 91%; margin: 0px 0px 0px 40px; float: left; padding: 10px 0px 10px 0px;}
.second_fund-contentinner {width: 80%; float: left;}
.second_fund-contentinner h1{ font-family:"Helvetica Neue",Arial, Helvetica, sans-serif; color:#ffffff; font-size: 30px; opacity: .65;}
.fund_warning { width: 20%; float: left; color: #7e3630; text-align: center; padding-top: 10px; opacity: .85;}
.amplification-container { width: 194px; float: left; margin: 20px 0px 15px 12px; background: #a1a1a0; border:1px solid #e3e4e4; border-radius: 5px; }
.amplification-container p {margin: 5px 0px 0px 5px; font-size: 12px; color: #ffffff;}
.amplification-contentinner { float: left; margin-left: 10px;}
.amplification-contentinner ul {width: 100%; float: left; padding-left: 10px; -webkit-margin-before: 0em; -webkit-margin-after: .4em;}
.amplification-contentinner ul li { float: left; padding-right: 2px; list-style: none; opacity: .65;}
.amplification-contentinner .amplified-active {opacity: 1;}
#portfolio_breakdown {width: 518px; margin-bottom: 100px;}
.portfolio_heading-inner {width: 100%; float: left; min-height: 46px; background: #cacac8; border-bottom:1px solid #e3e4e4; margin-bottom: 20px;}
.portfolio_heading-inner h1 {font-family: "helveticaneuelight", Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4c4c; padding: 10px 0 0 6.2%; -webkit-margin-after: 0em;}
.portfolio_breakdown-container {width: 90%; float: left; margin-left: 40px; padding-bottom: 15px;}
.portfolio_breakdown-container img {width: 100px; float: left; border:1px solid #e3e4e4;}
.portfolio_breakdown-text {float: left; width: 70%; font-size: 14px; padding-left: 20px; color: #4d4c4b; }
.portfolio_breakdown-text h1 {font-size: 20px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; line-height: 30px;}
.portfolio-tags { color: #cacac8; font-size: 10px;}
.portfolio_btn {float: right; margin-right: 30px; margin-bottom: 20px;}

#relatedNews_breakdown {width: 378px; margin-left: 20px; }
.relatedNews_heading-inner {width: 100%; float: left; min-height: 46px; background: #d9e4cd; border-bottom:1px solid #e3e4e4; margin-bottom: 20px;}
.relatedNews_heading-inner h1 {font-family: "helveticaneuelight", Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4c4c; padding: 10px 0 0 6.2%; -webkit-margin-after: 0em;}
.relatedNews_breakdown-container {width: 90%; float: left; margin-left: 40px; padding-bottom: 15px;}
.relatedNews_breakdown-text { float: left; width: 90%; font-size: 14px; color: #4d4c4b; }
.relatedNews_breakdown-text h1 {font-size: 20px; -webkit-margin-before: 0em; -webkit-margin-after: 0em; line-height: 30px; color: #2398c9; text-decoration: underline; }
.newsSource-link { color: #000000; font-size: 12px;}
.relatedNews_btn { float: right; margin-right: 30px; margin-bottom: 145px;}


/*----------------------------------------------------------------------------------------------------
Source Submit Page Styling
created: jmw 07.03.14
updated: jmw 07.03.14
----------------------------------------------------------------------------------------------------*/
#sourcepage_body {margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #333333; background:#edece8 url(../img/bg_body.gif) repeat-x top left; padding-top: 80px;}
#sourcepage_main {background: #f8f8f8; margin-bottom: 30px}
.sourcepage_content { width: 87.5%; float: left; padding: 0 6.3% 70px 6.3%;}
.left_sourcepage-container { width: 500px; float: left; background: #ffffff; }
.left_sourcepage-contentinner { width: 86%; float: left; padding: 30px 0px 0px 30px;}
.sourceinfo_main {width: 100%; float: left;}
.sourceinfo_main article { width: 100%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 0 0 0px;}
.sourceinfo_main article h2 { font-weight: normal; color: #4d4c4b; padding-bottom: 0px; }
.sourceinfo_main article aside { width: 97%; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 0 33px 0px; }
.sourceinfo_main article aside h3 { font-size: 18px; line-height: 10px; color: #4d4c4b; }
.sourceinfo_main article h3 { font-size: 18px; line-height: 10px; color: #4d4c4b; }
.sourceinfo_main article aside p { margin: 0px; }
.sourceinfo_main_add-container {width: 65%; float: left;}
.sourceinfo_main article aside p input { margin-bottom: 20px;}
.sourceinfo_main article aside p { margin-bottom: 20px; }
.sourceinfo_main form article textarea {width: 100%;}
.sourceinfo_main article aside p input[type="file"] { line-height: 0px;}
.right_sourcepage-container {width: 280px; float: right; display: inline; }
.right_sourcepage-contentinner { width:100%; float:right; background:#ffffff}
.right_sourcepage-contentinner article{ width:71.6%; float:left; padding:38px 14.6% 20px 14.6%}
.right_sourcepage-contentinner h3{ font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; padding-bottom:4px; font-size: 18px; font-weight: normal; -webkit-margin-before: 0em; -webkit-margin-after: 0em;}
.right_sourcepage-contentinner ul{ width:100%; float:left; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-size:14px; -webkit-padding-start: 0px; list-style-type: none; -webkit-margin-before: 0em; -webkit-margin-after: 0em;}
.right_sourcepage-contentinner article input[type="submit"] {width: auto;}

/*----------------------------------------------------------------------------------------------------
Question Pages Styling
created: jmw 07.14.14
updated: jmw 07.14.14
----------------------------------------------------------------------------------------------------*/
#helpbox { width: 720px; background: #cacac8; margin: 40px 0px 30px 40px; border:1px solid #e3e4e4;}
.helpbox_container {float: left; width: 95%; margin: 0px 18px 0px 18px; }
.helpbox_contentinner { float: left; width: 100%; padding: 5px 0px 5px 0px; }
.helpbox_text {float: left; width: 70%;}
.helpbox_text p { margin: 2px 0px 2px 0px; color: #4c4c4c; }
.helpbox_button { float: left; width: 30%; }
#helpbox_btn_fix {margin: 8px 10px 0px 23px; font-size: 14px; }
#question_page {margin: 0px 0px 50px 0px; }
#question_page .question_banner article { float: left; width: 20%; padding-top: 9px; }
#question_page .question_banner article p { float: left; padding-left: 10px; }
.question_banner_textlink {padding: 1px 0px 0px 0px; }
.question_page_contentinner { float: left; width: 100% }
.question_page_leftcontainer {float: left; width: 70%; }
.question_page_leftcontentinner {float: left; width: 95%; margin: 0px 15px 0px 15px; }
.question_page_rightcontainer {float: left; width: 30%; }
.question_page_rightcontentinner {float: left; width: 89%; margin: 0px 15px 0px 15px;}
.question_page_stats_container {float: left; width: 100%; }
.question_page_stats_contentinner {float: left; width: 70%; margin: 0px 49px 0px 25px;}
.question_stats {float: left; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif;}
.question_statleft {font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; }
.question_stats p {float: left; padding-left: 10px; margin: 0 0 0; }
.question_page_related_container {float: left; width: 100%;}
.question_page_related_container h3 {font-size: 14px; font-family:"helveticaneuebold", Arial, Helvetica, sans-serif;}
.question_page_related_contentinner {float: left; width: 100%; }
.question_page_related { float: left; width: 90%; margin-top: 0px; }
.related_post_number {float: left; width: 26px; background: #e9e9e9; margin-top: 4px; }
.related_post_number p {margin: 3px 3px 3px 5px;}
.related_post_text { float: left; padding-left: 10px; width: 83%; color: #2398c9;}
.related_post_text a {color: #2398c9;}

/*These styles  will be deleted after the Content item is dropped in from the dashboard */
.fund-feed .question_article { background: #aec987; position: relative; padding: 0px 0 22px 0; border-top: 0px;}
.fund-feed .icon {width: 32px; height: 32px; float: left; position: absolute; top: 0; right: 0;}
#ask_fix1 {width: 65%;}
#ask_fix2 {width: 35%;}

/*----------------------------------------------------------------------------------------------------
Platform Index Styling
created: jmw 07.17.14
updated: jmw 07.17.14
----------------------------------------------------------------------------------------------------*/
.inner_salmon {width: 100%; float: left; background: #faede7; }











