{% extends "site_base.html" %}
{% load staticfiles %}

{% block body %}

<div class="hero-grid">
	<div id="aboutstory" class="aboutus">
        
            <div class="sidemenu-inner">
            <ul>
            <li><a href="#aboutstory" class="active">Our Story</a></li>
            <li><a href="#aboutcontact">Contact Us</a></li>
            </ul>
            
            <form method="POST" action="{% url 'mediaupdates' %}">
            <fieldset>
            <ul>
            <li><label>Media Updates</label></li>
            
            {% csrf_token %}
    	
			<label for="id_name"></label>
				<input id="id_name" type="text" placeholder="Name" name="name" maxlength="200" />
				
			<label for="id_signup_email"></label>
				<input id="id_signup_email" type="text" placeholder="Email" name="signup_email" maxlength="200" value="" />
				
            </ul>            
            <input name="" type="submit" class="startedbtn" value="Subscribe">
            </fieldset>
            </form>
            </div>
        
            <div class="hero-gridright">
            <div class="bgourstory-info">
            <div class="ourstory-info">
            <article class="nodivider">
            <h2>Our Story</h2>
            
            <figure><img src="{% static "img/aboutus_image.png" %}" alt="PHOTO" /></figure>

			<p>Magnate is a social networking platform dedicated to empowering the young and money-minded. It allows low net worth individuals to invest in typically off-limits alternative asset classes and increases financial literacy through exciting investing strategies. A full immersion experience into the world of high finance, Magnate is Finance 101 on steroids.</p>

			<p>Created by three friends hailing from New York City and the Silicon Valley, Magnate's founding team has advised investment professionals managing over $107 billion in assets, created financial software for the top wealth management firms and built successful social applications.</p>

            </article>
                        
            <article id="aboutcontact">
            <h2>Contact Us</h2>            
            
            <div class="map"><a href="#"><img src="{% static "img/map01.png" %}" alt="MAP" /></a></div>
            
            <p><span id="map_address">Our Magical Dungeon: 5858 Horton St. Emeryville, CA 94608</span></p>
            
            <div class="contactus">
            <p>If you have any suggestions or questions please shoot us an email, or reach out to us on Twitter!</p>
            
            <ul>
            <li><img src="{% static "img/email01.gif" %}" alt="PHOTO" /><a href="mailto:admin@magnate.io" class="email">admin@magnate.io</a></li>
            <li><img src="{% static "img/twitter02.gif" %}" alt="PHOTO" /><a href="http://twitter.com/magnatelabs" class="twitter">@magnatelabs</a></li>
            <li><img src="{% static "img/facebook02.gif" %}" alt="PHOTO" /><a href="http://www.facebook.com/pages/Magnate-Labs/197894490391670" class="facebook">facebook.com/magnate</a></li>
            </ul>
            </div>
            </article>        
            </div>
            </div>
            </div>
            
        </div><!-- aboutus -->
    </div><!-- grid_16 -->





{% endblock %}