{% extends "site_base.html" %}
{% load staticfiles %}
{% block body_id %}about_body{% endblock %}

{% block body %}

<div class="hero-grid">
	<div id="aboutstory" class="aboutus">
        
            <div class="sidemenu-inner">
            <ul>
            <li><a href="#aboutstory" class="active">About Us</a></li>
            <li><a href="#aboutcontact">Contact Us</a></li>
            </ul>
            
            <form method="POST" action="{% url 'mediaupdates' %}">
            <fieldset>
            <ul>
            <li><label>Media Updates</label></li>
            
            {% csrf_token %}
    	
			<label for="id_name"></label>
				<input id="id_name" type="text" placeholder="Name" name="name" maxlength="200" />
				
			<label for="id_signup_email"></label>
				<input id="id_signup_email" type="text" placeholder="Email" name="signup_email" maxlength="200" value="" />
				
            </ul>            
            <input name="" type="submit" class="startedbtn" value="Subscribe">
            </fieldset>
            </form>
            </div>
        
            <div class="hero-gridright">
            <div class="bgourstory-info">
            <div class="ourstory-info">
            <article class="nodivider">

			<h4>Access to deals is as important as investment skill - but today, unless you’ve got a million in the bank, you’re cut off from the most exciting deals no matter how skilled you are. It’s unjust that the rich alone have access to the best deals.</h4>

			<h2>About Us</h2>
			<p>Magnate is a community-driven alternative asset manager and an investment education tool. We give business-savvy users access to alternative asset classes that they would typically be prohibited from investing in. In turn, they educate other users by investing via the support of our community-driven platform. Magnate was built by a team that has advised investment professionals with several hundred billion in assets, developed financial software for the top banks and designed the Global Citizen social network.</p>	

            </article>
                        
            <article id="aboutcontact">
            <h2>Contact Us</h2>            
            
            <div class="map"><a href="#"><img src="{% static "img/map01.png" %}" alt="MAP" /></a></div>
            
            <p><span id="map_address">Our Magical Dungeon: 5858 Horton St. Emeryville, CA 94608</span></p>
            
            <div class="contactus">
            <p>If you have any suggestions or questions please shoot us an email, or reach out to us on Twitter!</p>
            
            <ul>
            <li><img src="{% static "img/email01.gif" %}" alt="PHOTO" /><a href="mailto:admin@magnate.io" class="email">admin@magnate.io</a></li>
            <li><img src="{% static "img/twitter02.gif" %}" alt="PHOTO" /><a href="http://twitter.com/magnateio" class="twitter">@magnateio</a></li>
            {% comment %}
            ## We need a facebook page dude.
            <li><img src="{% static "img/facebook02.gif" %}" alt="PHOTO" /><a href="http://www.facebook.com/pages/Magnate-Labs/197894490391670" class="facebook">facebook.com/magnate</a></li>
            {% endcomment %}
            </ul>
            </div>
            </article>        
            </div>
            </div>
            </div>
            
        </div><!-- aboutus -->
    </div><!-- grid_16 -->





{% endblock %}