{% extends "site_base.html" %}

{% block body %}

<div class="row">
		

    	<h2>Almost finished...</h2><ul class="leftcolumn">			
 	
    	<form action="{% url 'startedsurvey' %}" method="post">
    	{% csrf_token %}
    	
			<p><label for="id_first_name">First Name:</label>
				<input id="id_first_name" type="text" name="first_name" maxlength="200" /></p>
				
			<p><label for="id_last_name">Last Name:</label>
				<input id="id_last_name" type="text" name="last_name" maxlength="200" /></p>
				
			<label for="id_sex">Gender:</label>
				<select name="sex" id="id_sex">
				<option value="1">Female</option>
				<option value="1">Male</option></select>
				
			<p><label for="id_dob">Date of Birth:</label>
				<input type="text" name="dob" id="id_dob" /></p>
			
			<ul><label for="id_funding_knowledge">When it comes to Crowdfunding I'm...</label>
				<li>
				<label>Noob
				<span class="radio"><input type="radio" name="funding_knowledge" value="1"></span></label>
				
				<label>Expert
				<span class="radio"><input type="radio" name="funding_knowledge" value="2"></span></label>

				<label>What?
				<span class="radio"><input type="radio" name="funding_knowledge" value="3"></span></label>	
				</li>
				</ul>
				
				<p><label for="id_income">My Yearly Income is...</label>
				<select name="income" id="id_income">
				<option value="1">Greater than $60,000</option>
				<option value="2">Less than $60,000</option></select></p>

				<p><label for="id_funding_preference">I'd like to fund...</label>
				<select name="funding_preference" id="id_funding_preference">
				<option value="1">For profit and growing monies</option>
				<option value="2">Non-profits</option>
				<option value="3">For great rewards</option>
				<option value="4">Just for recognition yo</option></select></p>
				
				<p><label for="id_industry_preference">If I had to pick one, I'd choose</label>
				<select name="industry_preference" id="id_industry_preference">
				<option value="1">Film, TV & Music</option>
				<option value="2">Technology</option>
				<option value="3">Games</option>
				<option value="4">Social Causes</option></select></p>
				
				<p><label for="id_site_rec">How did you hear about us? (optional)</label>
				<select name="site_rec" id="id_site_rec">
				<option value="1">Friends</option>
				<option value="2">Online</option>
				<option value="3">Other</option>
				<option value="4">Whatever Dude</option></select></p>

<input type="submit" value="Submit" />
</form>
  	
    	
<!--
		<li>
		<div class="startedq_firstname">
		<label>First Name</label>
		<input name="" type="text" class="input" value="" />
		</div>		
    		
		<div class="startedq_lastname">
        <label>Last Name</label>
        <input name="" type="text" class="input" value="" />
        </div>
        </li>

        <li>
        <div class="startedq_email">
        <label for="id_email">Email Address</label>
        <input name="form" type="text" class="input" value="{{ email }}"/>
        </div>
        </li>	
        
        <li>
        <div class="startedq_code">
        <label>Zip/Postal Code</label>
        <input name="" type="text" class="input" value="" />
        </div>
        </li>
        
        <li>
        <div class="startedq_gender">
        <label>Gender</label>
        <select name="name" class="select">
        <option value="name">Female</option>
        <option value="name">Male</option>
        </select>
        </div>
        </li>
        
        <li>
        <label>Date of Birth</label>
        
        <div class="startedq_date">
        <select name="Day" class="select">
        <option value="Day">Day</option>
        <option value="01">01</option>
        </select>
        </div>
        
        <div class="startedq_month">
        <select name="Month" class="select">
        <option value="Month">Month</option>
        </select>
        </div>
        
        <div class="startedq_year">
        <select name="Year" class="select">
        <option value="Year">Year</option>
        </select>
        </div>
        </li>
    	</ul>
			
		<ul class="rightcolumn">
        <li>
        <label>When it comes to crowdfunding I’m a... </label>
        
        <div class="options"><input name="a" type="radio" value="" class="radio" checked> What?</div>
        <div class="options"><input name="a" type="radio" value="" class="radio"> Noob</div>
        <div class="options"><input name="a" type="radio" value="" class="radio"> Professional</div>
        </li>
        
        <li>
        <div class="income">
        <label>My yearly income is...</label>
        <select name="income" class="select">
        <option value="income"></option>
        </select>
        </div>
        
        <div class="income income2">
        <label>I’d like to fund in...</label>
        <select name="income" class="select">
        <option value="income"></option>
        </select>
        </div>
        </li>
        
        
        <li>
        <div class="select2">
        <label>If I had to pick one, I’d choose...</label>
        
        <select name="income" class="select">
        <option value="income"></option>
        </select>
        </div>
        </li>
        
        <li>
        <label>How did you hear about us? (optional)</label>
        <div class="select3">
        <select name="income" class="select">
        <option value="income"></option>
        </select>
        </div>
        </li>
        
        <div>
        {% url "waitinglist_ajax_list_signup" as listsignup_url %}
        <a href="{{ listsignup_url }}" class="indexbtn">Submit</a>
        </div>
        </ul>
-->
	
    </div>

{% endblock %}