{% load i18n %}
{% load staticfiles %}

<div class="extra-padding">
<div class="dash-body-nav">
	<div class="container">
		<div class="body-nav-inner">
			
			
			<div class="nav-inner-pagetitle">
			<li class="dropdown unstyled">
				<a href="#" class="btn groupnavbtn dropdown-toggle" data-toggle="dropdown">{{ category.title }}
					<b class="caret"></b>
				</a>
			
			<ul class="dropdown-menu">
				{% for user_following_category in request.user.following.all %}
                    <li>
                    <a href="{% url 'category_home_page' user_following_category.category.pk %}">{{ user_following_category.category }}</a>
                    </li>
                    {% endfor %}
                </ul>
			</li>
			
			</div>
			<div class="nav-inner-groupselections">
				 <ul class="unstyled">
				 	<li><a href="{% url 'category_home_page' category.pk %}"><h1>Homepage</h1></a></li>
				 	<li><a href="{{ current_objective.entry.get_absolute_url }}"><h1>Opportunity</h1></a></li>
				 	<li><a href="{% url 'groups_detail_info' category.pk %}"><h1>Information</h1></a></li>
				 </ul>
			</div>
		</div>
	</div>
</div>
</div>
{% comment %}
		<li>
      {% with categories=object.categories.all %}
      {% if categories|length %}
      {% trans "in" %}
      {% for category in categories %}
      <a href="{% url 'category_home_page' category.pk %}"
         title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
         rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
      {% endwith %}
      </li>
{% endcomment %}
