{% load i18n %}
{% load staticfiles %}
<div id="magfooter" class="container">
	<div class="col-sm-9">
        <aside>
        	<div class="footer_browser">
        	{% if not request.user.is_authenticated %}        	
				<a href="{% url "home" %}" class="first">Home</a> | 
			{% endif %}	
				
			{% if request.user.is_authenticated %}
				<a href="{% url "dashboard" %}" class="first">Home</a> | 
			{% endif %}
				
				<a href="#features" class="j-scroll" title="Features">Features</a> | 		
				<a href="#about" class="j-scroll" title="About">About</a> | 
				<a href="#team" class="j-scroll" title="Our Team">Our Team</a> | 				
				<a href="#contact" class="j-scroll" title="Contact">Contact</a>
				<a href="http://twitter.com/magnateio" target="_blank" class="magfooter_space"><img src="{% static "img/twitter01.png" %}" alt="PHOTO" /></li>
				<a href="http://www.facebook.com/pages/Magnate-Labs/197894490391670" target="_blank"><img src="{% static "img/facebook01.png" %}" alt="PHOTO" /></a>
				<a href="http://www.pinterest.com/MagnateLabs/" target="_blank"><img src="{% static "img/pinterest01.png" %}" alt="PHOTO" /></a>
			</div>
        </aside>
	</div>	

	<div class="col-sm-3">
		<ul class="magfooter_info">
    	<li>&copy; 2013 MagnateLabs Inc.</li>
    	<li>5858 Horton Street</li>
		<li>Emeryville, CA 94608</li>
		</ul>
    </div>
</div>	