{% extends "site_base.html" %}
{% load staticfiles %}
{% block body_id %}homepage_body{% endblock %}


{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

  <div id="wrapper">

		<!-- Home: carousel -->
		<div id="home" class="section carousel slide home-carousel carousel-fade" data-ride="carousel">

			<!-- Wrapper for slide *only 1 img -->
			<div class="carousel-inner">
				<div class="item item-1 active">
					<div class="container">
						<div class="content">
							<div class="text font-white">
								<div class="row">
									<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
										<h1 class="">Unleash your inner mogul</h1>
										<h2 class="">Discover the world of alternative investments</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Scroll to the next section -->
			<a class="j-scroll scrollDown" href="#features">
				<span class="fa fa-arrow-circle-down"></span>
			</a>
			
		</div>
		
		<!-- Section: Services -->
		<section id="features">
			<div class="container">
				<!-- Header -->
				<header>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
								<h1>We only attract money</h1>
							<p>Magnate is an online service that makes being financially responsible suck just a little bit less than it actually has to. We offer the information you need, the guidance you want and the access you wish you had.</p>
						</div>
					</div>
				</header>

				<!-- Content -->
				<div class="row">
					<div class="col-xs-6 col-sm-6 i">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4 icon">
								<div class="c">
									<div class="fill">
										<i class="fa fa-code"></i>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-lg-8">
								<h3>Approachable Expertise</h3>
								<p>Access practically presented financial advice from many leading experts so you can more effectively save and grow your money.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 i">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4 icon">
								<div class="c">
									<div class="fill">
										B
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-lg-8">
								<h3>Unprecedented Opportunities</h3>
								<p>Reach your financial potential by tapping into investments that are potentially more lucrative, but traditionally restricted to only the most wealthy individuals.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 i">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4 icon">
								<div class="c">
									<div class="fill">
										<i class="fa fa-wrench"></i>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-lg-8">
								<h3>Active Management</h3>
								<p>Partner with an experienced money manager committed to helping you efficiently achieve your short and long-term financial goals.</p>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 i">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-0 col-lg-4 icon">
								<div class="c">
									<div class="fill">
										<i class="fa fa-mobile"></i>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-7 col-lg-8">
								<h3>Personal Touch </h3>
								<p>Engage directly with your money manager whenever you want to feel more empowered about what is being done with your investments.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- About -->
		<section id="about" >
			<div class="container">
				<!-- Header -->
				<header class="font-white">
				</header>

				<!-- Content -->
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<h1>The reason we started Magnate? We like free sh%t.</h1>
						<p>We believe that world-class advising and financial services should be readily available to anyone—regardless of your income or investment experience. Magnate has a plan that is tailor made for your individual financial goals.</p>
						<p class="aboutbullet_head">Magnate is the people’s choice</p>
						<ul class="">
							<li><p>No hidden fees, ever!</p></li> 
							<li><p>No minimums. Invest any amount</p></li>
							<li><p>Any skill level welcomed</p></li>
							<li><p>Gain access to top experts</p></li>
							<li><p>Honest and objective opinions</p></li>
							<li><p>Users come before profits</p></li>
							<li><p>Did we mention it’s always free?</p></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6">
						<img src="img/phone.png" alt="" width="514" height="336" class="img-responsive">
					</div>
				</div>
			</div>
		</section>
		
		<!-- Team -->
		<section id="team">
			<div class="container">
				<!-- Header -->
				<header>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h1>Meet our team</h1>
							<p>Nulla diam ex, aliquet vel iaculis vitae, consectetur et lectus. Mauris eu scelerisque ligula. Fusce in purus accumsan, faucibus lorem eget, posuere eros. Etiam ultricies vel leo at euismod. Morbi id nisi vitae felis consequat consequat ut non arcu.</p>
						</div>
					</div>
				</header>

				<!-- Content -->
				<div class="row">
					<div class="col-xs-12 col-sm-4 i">
						<div class="c">
							<div class="wrap">
								<div class="info">
									<div class="info-wrap">
										<div class="share">Share</div>
										<div class="social">
											<a href="#" title="#"><i class="fa fa-facebook"></i></a>
											<a href="#" title="#"><i class="fa fa-twitter"></i></a>
											<a href="#" title="#"><i class="fa fa-linkedin"></i></a>
											<a href="#" title="#"><i class="fa fa-google-plus"></i></a>
										</div>
									</div>
								</div>
								<img src="{% static "img/team-1.jpg" %}" alt="#" width="600" height="350" class="img-responsive">
							</div>
						</div>
						<h3>Napoleon Hoang</h3>
						<p>Nulla diam ex, aliquet vel iaculis vitae, consectetur. Mauris eu scelerisque ligula. Fusce in purus accumsan, fauc ibus lorem eros. Etiam ultricies vel leo at.</p>
					</div>
					<div class="col-xs-12 col-sm-4 i">
						<div class="c">
							<div class="wrap">
								<div class="info">
									<div class="info-wrap">
										<div class="share">Share</div>
										<div class="social">
											<a href="#" title="#"><i class="fa fa-facebook"></i></a>
											<a href="#" title="#"><i class="fa fa-twitter"></i></a>
											<a href="#" title="#"><i class="fa fa-linkedin"></i></a>
											<a href="#" title="#"><i class="fa fa-google-plus"></i></a>
										</div>
									</div>
								</div>
								<img src="{% static "img/team-2.jpg" %}" alt="#" width="310" height="310" class="img-responsive">
							</div>
						</div>
						<h3>Sergey Orshanskiy</h3>
						<p>Nulla diam ex, aliquet vel iaculis vitae, consectetur. Mauris eu scelerisque ligula. Fusce in purus accumsan, fauc ibus lorem eros. Etiam ultricies vel leo at.</p>
					</div>
					<div class="col-xs-12 col-sm-4 i">
						<div class="c">
							<div class="wrap">
								<div class="info">
									<div class="info-wrap">
										<div class="share">Share</div>
										<div class="social">
											<a href="#" title="#"><i class="fa fa-facebook"></i></a>
											<a href="#" title="#"><i class="fa fa-twitter"></i></a>
											<a href="#" title="#"><i class="fa fa-linkedin"></i></a>
											<a href="#" title="#"><i class="fa fa-google-plus"></i></a>
										</div>
									</div>
								</div>
								<img src="{% static "img/team-3.jpg" %}" alt="#" width="310" height="310" class="img-responsive">
							</div>
						</div>
						<h3>Farzad Samimi</h3>
						<p>Nulla diam ex, aliquet vel iaculis vitae, consectetur. Mauris eu scelerisque ligula. Fusce in purus accumsan, fauc ibus lorem eros. Etiam ultricies vel leo at.</p>
					</div>
				</div>
			</div>
		</section>
		
		<!-- Contact -->
		<section id="contact" >
			<div class="container">
				<!-- Header -->
				<header class="font-white">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h1>Want to learn more?</h1>
							<h2>Hit us up. Whether you want to join the community, or simply just want to stay up to date on our progress, we appreciate your interest and will get back to you as soon as possible.</h2>
						</div>
					</div>
				</header>

				<!-- Content -->		
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2">
						<form role="form" data-parsley-validate>
							<input type="text" class="form-control" placeholder="Name" required data-parsley-error-message="Enter name">
							<input type="email" class="form-control" placeholder="Email" required data-parsley-error-message="Enter email">
							<textarea class="form-control" rows="6" placeholder="Message" required data-parsley-error-message="Enter message"></textarea>
							<button type="submit" class="btn btn-lg">Submit	</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		
  </div>		

{% endblock %}


{% block banner %}
    <h1>{% trans "Spend Confidently" %}</h1>
    <p>
        {% blocktrans %}
        Whether you're supporting your favorite local artist, a worthy cause,
        or the latest creative idea, Magnate helps you stay focused on what 
        you care about. No need to feel uniformed or unsure, go ahead and 
        spend—we got your back.
      
        {% endblocktrans %}
    </p>
    
    <h2>Your Very Own A-Team</h2>
    <p id="secondp">
        {% blocktrans %}
        Magnate places you in the hands of industry heavyweights, and vetted 
        financial advisors—giving you the confidence, the insight and tools
        to act on your intuition.         
        {% endblocktrans %}
    </p>

	<article>
        <div class="feature_grid">
        <img src="{% static "img/real_guidance_grey.png" %}" alt="icon"/>
        
        <aside>
        <h3>Real Guidance</h3>
        
        <p>Our "Crowd Advisors" scour the net and reach out on your behalf. Giving you more time to focus on the good stuff.</p>
        </aside>
        </div>
        
        <div class="feature_grid">
        <img src="{% static "img/expert_advice_grey.png" %}" alt="icon" />
        
        <aside>
        <h3>Expert Advice</h3>
        
        <p>Get the goods direct from the horse's mouth. Opinions on the site are reviewed,and verified by industry insiders.</p>
        </aside>
        </div>
        </article>
        
        <article>
        <div class="feature_grid">
        <img src="{% static "img/hit_street_grey.png" %}" alt="icon" />
        
        <aside>
        <h3>Hit The Streets</h3>
        
        <p>We don't just sit around doing research, our teams reach out to meet founders and see prototypes so you you don't have to.</p>
        </aside>
        </div>
        
        <div class="feature_grid">
        <img src="{% static "img/Better_Over_Time_grey.png" %}" alt="icon" />
        
        <aside>
        <h3>Better Over Time</h3>
        
        <p>The more feedback you give your "Crowd Advisor" the better they are at finding startups you'll love and providing you with the right information.</p>
        </aside>
        </div>
	</article>
 <!       {% url "account_signup" as signup_url %} (for link to closed signup page)>
        
	<!--
	old ones!
    {% if user.is_authenticated %}
        {% url "what_next" as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
    
    new one!
    {% url "account_signup" as signup_url %}
        <p id="signupselect"><a href="{{ signup_url }}">{% blocktrans %}Already have a signup code? Enter it here to login.{% endblocktrans %}</a></p>
    
    -->
{% endblock %}
