{% load staticfiles %}
{% load brabeion_tags %}
{% load status_awards_tags %}

      <div class="info">
        <figure><a href="{% url 'status_award_detail' %}?award={{ status_badge.pk }}">{% render_badge status_badge "status_icon"  %}</a></figure>
	{% if has_status_badge %}
        <h3><a href="{% url 'status_home' %}">{{ status_badge.name }}:</a></h3>
	{% else %}
	<h3><a href="{% url 'status_home' %}">No status yet.</h3> <a href="#">Click here to read our tutorial about badges, statuses, and karma.</a>
	{% endif %}
	<p>{{ status_badge.description }}.</p>


        <!--<p>Your donation’s funded mainly comics and internet startups!</p>-->       
      </div>
      {% if request.user.is_authenticated %}
          {% badges_for_user request.user as badges %}
      {% endif %}

        <div class="badges">

        <h3>Badges ({{badges | no_metabadges | length }}) <span><a href="{% url 'status_home' %}">See All</a></span></h3>

	<ul>
	{% for badge in badges %}
          {% if not badge.is_metabadge %}
	  <li><a href="{% url 'status_award_detail' %}?award={{ badge.pk }}">{% render_badge badge "small" %}</a></li>
	  {% endif %}
	{% endfor %}
	</ul>

        </div>
        
