{% load staticfiles %}
{% load avatar_tags %}

  <div class="bgprofile-info">
        <div class="profile-info">
        <article>
        <figure><a href="#">{% avatar user %}</a> <span class="caption"><a href="{% url 'avatar_change' %}">Change profile photo?</a></span></figure>
        
        <aside>
          <h3><a href="">{{ request.user }}</a></h3>
        
        <div class="info">
        <figure><a href="{% url 'status_home' %}"><img src="{% static "img/photo33.jpg" %}" alt="PHOTO"></a></figure>        
        <h3><a href="{% url 'status_home' %}">Meme Magnate:</a></h3>
        <p>Your donation’s funded mainly comics and internet startups!</p>
        </div>

        {% include "dashboard/__user_badges.html" %}

        </aside>
        </article>
        </div>

        {% if user_has_donation %}
		{% include "dashboard/__user_donation_stats.html" %} 
	{% else %}
		{% include "dashboard/__user_nodonation_stats.html" %}
	{% endif %}
        
        </div>

