{% load staticfiles %}

  <div class="bgprofile-info">
        <div class="profile-info">
        <article>
        <figure><a href="#"><img src="{% static "img/photo32.jpg" %}" alt="PHOTO"></a> <span class="caption"><a href="#">Change profile photo?</a></span></figure>
        
        <aside>
          <h3><a href="#">{{ request.user }}</a></h3>
        
  

        {% include "dashboard/__user_badges.html" %}

        </aside>
        </article>
        </div>

        {% if user_has_donation %}
		{% include "dashboard/__user_donation_stats.html" %} 
	{% else %}
		{% include "dashboard/__user_nodonation_stats.html" %}
	{% endif %}
        
        </div>

