/*----------------------------------------------------------------------------------------------------
Navigation Fixes
created: 01.06.15
updated: 01.06.15
----------------------------------------------------------------------------------------------------*/
#header nav .navbar-nav>li.active:before{
content:'';
}