{% extends "site_base.html" %}
{% load staticfiles %}
{% load status_awards_tags %}

{% block body %}
        
    <div class="grid_16">
    	<div class="contentinner">
    		<div class="bgsection2">
        
    		<div class="heading_container">
				<div class="inner_blue">
					<h1>Status Award Detail</h1>
				</div>
					<div class="additional_right-overlay">
						<div class="order_right-overlay">
							<div class="roinner_one">
								<article>
									<ul>
									<li><a href="{% url 'status_home' %}" class="active">Status Awards</a></li>
									<li><a href="{% url 'status_home' %}">Investment Awards</a></li>
									<li><a href="{% url 'status_home' %}">Action Awards</a></li>
									<li><a href="{% url 'status_home' %}">Passion Awards</a></li>
									</ul>
								</article>
							</div>	
							<div class="roinner_two">
								<article>
									<ul>	
									<li><a href="{% url 'status_home' %}">All Awards</a></li>
									</ul>
								</article>
							</div>
						</div>
					</div>
    		</div>
        
        	<div class="status_section1">
        		<div class="award_detail-info">
					<article>
					        <figure>{% render_badge badge "status_large" %}</figure>
<!--						<figure><img src="{% static "img/status_award_xtrbigicon1.png" %}" alt="PHOTO"></figure>-->
						<aside>
							<h3>{{ badge.name }}</h3>
							<p>{{ badge.description }}</p>
        				</aside>
						<span class="award_link">
						<figure><img src="{% static "img/smalluser_icon.png" %}"alt="PHOTO"></figure>
						<aside><h4>You unlocked the {{ badge.name }} badge!</h4>
						<p><a href="{{ badge.entry.get_absolute_url }}">{{ badge.awarded_at }}</a>.</p></aside> 
						</span>
					</article>
				</div>
			</div> <!--status_section1-->		

			
        </div>
    </div><!-- contentinner -->
	</div><!-- grid_16 -->
        
        
{% endblock %}
