{% extends "site_base.html" %}
{% load staticfiles %}
{% load brabeion_tags %}
{% load status_awards_tags %}

{% block body %}
        
    <div class="grid_16">
    	<div class="contentinner">
    		<div class="bgsection2">
        
    		<div class="heading_container">
				<div class="inner_blue">
					<h1>{{ request.user }}'s Magnate Status</h1>
				</div>
					<div class="additional_right-overlay">
						<div class="order_right-overlay">
							<div class="roinner_one">
								<article>
									<ul>
									<li><a href="#" class="active">Status Awards</a></li>
									<li><a href="#">Investment Awards</a></li>
									<li><a href="#">Action Awards</a></li>
									<li><a href="#">Passion Awards</a></li>
									</ul>
								</article>
							</div>	
							<div class="roinner_two">
								<article>
									<ul>	
									<li><a href="#">All Awards</a></li>
									</ul>
								</article>
							</div>
						</div>
					</div>
    		</div>
        
        	<div class="status_section1">
        		<div class="status-info">
					<article>
		
					
						<figure><a href="{% url 'status_award_detail' %}?award={{ status_badge.pk }}">{% render_badge status_badge "status_large" %}</a></figure>
						<aside>
							{% if has_status_badge %}
							<h3>{{ status_badge.name }}</h3>
							{% else %}
							<h3>No status yet.</h3> <a href="#">Click here to read our tutorial about badges, statuses, and karma.</a>
							{% endif %}
							<p>{{ status_badge.description }}</p>
        				</aside>
					</article>
				</div>
			</div> <!--status_section1-->
			
			        
			{% if request.user.is_authenticated %}
                {% badges_for_user request.user as badges %}
            {% endif %}
        	<div class="status_section2">
        		<div class="status_awards">
        			<div class="awards_info">
        				<!-- <h4>Meme Magnate awards</h4> -->
						<div class="large_awards">
							<ul>
							{% for badge in badges %}
							    {% if not badge.is_metabadge %}
							        <li>
										<figure><a href="{% url 'status_award_detail' %}?award={{ badge.pk }}">{% render_badge badge "medium" %}</a>
										<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}?award={{ badge.pk }}">{{ badge.name }}</a></h4><p>{{ badge.awarded_at | date:"F d, Y" }}</p></span>
										    
										</figure>
							        </li>
							    {% endif %}
							{% endfor %}
			
{% comment %}				
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_bigicon4.png" %}" alt="LAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Unlocked</a></h4><p>Passion Award</p></span></figure>
							</li>
							
{% endcomment %}						
							
        				
							</ul>
						</div>
					</div>
					
					<div class="karma_tip">
						<article>
							<figure><img src="{% static "img/status_tippointer.png" %}" alt="PHOTO"></figure>
							<aside>
							<h3>Extra Tip:</h3>
							<p>Collect all of your status awards for a better chance to win karma!</p>
							</aside>
						</article>
					</div>
        		</div>
        	</div><!--status_section2-->
			
			
			<div class="status_section3">
				<div class="allawards_container">
					<div class="allawards_info">
        				<h4>All Awards</h4>
						<div class="medium_awards">
							<ul>
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon1.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Donor Power</a></h4><p>Investment Award</p></span></figure>
							</li>
        				
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon2.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Comicbewker</a></h4><p>Action Award</p></span></figure>
							</li>
        				
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon3.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Edu-Tech Noob</a></h4><p>Action Award</p></span></figure>
							</li>
        			
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon4.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Health Noob</a></h4><p>Passion Award</p></span></figure>
							</li>
					
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon5.png" %}" alt="MAWARD"></a>
       						<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Fire Power</a></h4><p>Investment Award</p></span></figure>
							</li>
        				
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon6.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Campout Fan</a></h4><p>Passion Award</p></span></figure>
							</li>
        				
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon7.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Keen Watcher</a></h4><p>Passion Award</p></span></figure>
							</li>
							
							<li>
							<figure><a href="{% url 'status_award_detail' %}"><img src="{% static "img/status_award_smallicon8.png" %}" alt="MAWARD"></a>
							<span class="award_caption"><h4><a href="{% url 'status_award_detail' %}">Travel Noob</a></h4><p>Passion Award</p></span></figure>
							</li>
							</ul>
						</div>
					</div>

			
			
			
			
				</div>
			</div><!--status_section3-->
			
			
			
        </div>
    </div><!-- contentinner -->
	</div><!-- grid_16 -->
        
        
{% endblock %}
