{% load staticfiles %}
{% load brabeion_tags %}
{% load status_awards_tags %}
	<!-- dashboard status -->
      <div class="info">
	{% ifequal user request.user %}
		
		
		{% comment %}
		Not sure if we still need this
	    {% if has_status_badge %}
	    <figure><a href="{% url 'status_home' %}">{% render_badge status_badge "status_icon" %}</a></figure>
                <h3 class="unstyled"><a href="{% url 'status_home' %}">{{ status_badge.name }}:</a></h3>
	    {% else %}
	    <figure>{% render_badge status_badge "status_icon"  %}</figure>
	     	   <h3>Spectator:</h3><p><a href="#">You do not currently have a Magnate Status. Click to learn why status is important, and how to get it!</a></p>
	    {% endif %}
	    {% endcomment %}


	{% else %}
	    <figure>{% render_badge user_status_badge "status_icon"  %}</figure>
            {% if user_has_status_badge %}
                <h3>{{ user_status_badge.name }}:</h3>
            {% else %}
                <h3>No Status</h3>
            {% endif %}
	{% endifequal %}
      </div>
	  
	  <!-- dashboard usage stats -->
	  <div class="info-stats">
	  <ul class="unstyled">
	  <li><p class="info-stats-title">Contributions</p><!--data--><p>02</p></li>
	  <li><p class="info-stats-title">Knowledge Ranking</p><!--data--><p>2,004</p></li>
	  </div>

      {% badges_for_user user as badges %}


        <div class="badges">
			<!--Now groups-->
        <h2>You are following ({{following | length }}) lobbies.</h2><span><a href="{% url 'groups_all' %}">Click to see all</a></span>
{% comment %}
	<ul class="unstyled">
	{% for badge in badges %}
          {% if not badge.is_metabadge %}
	    {% ifequal user request.user %}
	       <li><a href="{% url 'status_award_detail' %}?award={{ badge.pk }}">{% render_badge badge "small" %}</a></li>
	    {% else %}
              <li>{% render_badge badge "medium" %}
	          <!--Lobby title--><div class="dash-following"><h3><a href"#">The Educational Corner</a></h3><div class="btn">Following</div></div>    
              </li>
	    {% endifequal %}
	  {% endif %}
	{% endfor %}
	</ul>
{% endcomment %}
        </div>
        
