{% load staticfiles %}
{% load avatar_tags %}

{% comment %} 
request.user - the user who is currently logged in
user - either the same user, if we are on the dashboard, or whoever's profile we are viewing
if request.user==user, then we should display controls like "Change profile picture", etc.
Otherwise it is read-only.
{% endcomment %}
	<!-- begin user_breakdown -->
  <div class="bgprofile-info">
        <div class="profile-info">
        <!-- user image -->
        <article>
         <figure>{% avatar user 80 %}
        {% ifequal user request.user %}
		
		{% comment %}
		#Just thinking whether or not we need to keep this for later?
		<span class="caption"><a href="{% url 'avatar_change' %}">Change profile photo?</a></span> -->
		{% endcomment %}
		
        {% endifequal %}
        </figure>
        <div class="profile-name">
        <h3>{{ user }}</h3>
        </div>
        <aside>
		<div id="user_badges">
		</div>
		<div class="dash-search">
		<input name type="text" class="input" value="Search for something specific...">
		<div class="btn">go</div>
		</div>

	<script type="text/javascript">
	    // Load badges dynamically even the first time so as to prevent caching
//	    var nocache = new Date().getTime();
	    $.ajax({
	        url: "/dash/user_badges?user_id={{user.pk}}",
	        cache: false,
	        dataType: "html",
	        success: function(data) {
	            $("#user_badges").html(data);
                }
            });
//	    $("#user_badges").load("/dash/user_badges/");
	</script>

        </aside>
        </article>      
        </div>
        {% include "dashboard/_user_activity_feed.html" %}
  </div>

