{% extends "site_base.html" %}
{% block body_id %}dashboard_body{% endblock %}
{% load staticfiles %}
{% load social_tags %}
{% load zinnia_tags %}

{% block style_base %}
	<link href="{% static "css/jquery.fancybox-1.3.4.css" %}" rel="stylesheet">	
{{ block.super }}

{% load i18n extra_tags extra_filters ui_registry %}
    <!-- Styling for OSQA -->
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>

        <script type="text/javascript">
        /*<![CDATA[*/
            // OSQA defines all those things - try to do without them   

            // google.load("jquery", "1");
            // google.load("jqueryui", "1", {autoload:true});

             var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            // var appUrl = '{{ settings.APP_URL }}'
             var scriptUrl = '{{ settings.FORCE_SCRIPT_NAME }}/'
             var osqaSkin = '{{ settings.OSQA_SKIN }}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url 'matching_tags' %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /*]]>*/
        </script>

        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>


{% comment %} OSQA has block forejs for javascript in the beginning. For now just linking it by inserting it here {% endcomment %}

  {% block forejs %}
  {% endblock %}

{% endblock %} 

{% block body_navigation %}
	{% include "_bodynav.html" %}
{% endblock %}

{% block body %}
<div class="dash_grid">
    <div class="inner_dashcontent">
    	<div class="section1 section3">
        	
			{% include "dashboard/_user_breakdown.html" %}

		{% comment %}
		No need for hangouts feature or the drop-down at the moment
        <div class="dashboard-divider">
        	<div id="hangoutsDropdown" class="hangouts_dropdown">
				<button type="button" id="btnHangoutsClose" class="icon-close">Close</button>
				<aside>
					<h2><span>New Magnate</span> Hangout</h2>
				</aside>
        
					<figure><a href="#"><img src="{% static "img/dash_hangoutstest.jpg" %}" alt="PHOTO" /></a></figure>
				<aside>
					<h2><span>Review Details</span></h2>
					<div class="btn-middle"><a href="{% url "rewards" %}" class="btn" id="dashbtn_fix">Hangouts Home</a></div>
				</aside>
			</div>
        </div><!--dashboard divider-->
        {% endcomment %}

        <div class="section6-bg">
	{% comment %}
	If is_dashboard, then wrap the block content so it goes into the left column. Otherwise it gets all the space.
	{% endcomment %}

	{% if is_dashboard %}
	<div class="section6"> {% comment %}section6 is also only for the dashboard mode. We want a pure white screen otherwise{% endcomment %}

        <div class="dash_zinniafeed grid_3 alpha omega">
        <div class="fund-feed">
        
        {% comment %}
        This does not belong here. Need to find a better location for this information.
        <h3>Following: </h3>{% for category in following %}
          <a href="{% url 'category_home_page' category.pk %}">{{ category.title }}</a>
        {% endfor %}
        {% endcomment %}
        
  	{% endif %}

    {% block page_center %}
      {% block content %}
      {% endblock %}



      {% for object in entries.paginator.page %}
        {% include object.content_template with object_content=object.html_content|truncatewords_html:object.blurb_word_limit|safe continue_reading=1 %}
      {% endfor %}
<div class="pager" style="float: right">
    {{ entries.paginator.page_numbers }}
</div>      
    {% endblock %}

        {% if is_dashboard %}
        <article class="loadmore-entry">
        <div class="greyed-user">
        	<div class="greyed-user-name"></div>
			<div class="greyed-user-image"></div>
			<div class="greyed-user-info"></div>
			<div class="greyed-user-info"></div>
			<div class="greyed-user-info"></div>
        </div>
        <div class="greyed-article">
	    	<div class="greyed-article-title"></div>
	    	<div class="greyed-article-line"></div>    
        </div>
        </article>
        
        </div>
        </div>
        
	{% endif %}


        </div>
      </div>

    </div><!-- contentinner -->
    </div><!-- grid_16 -->

{% include "share/_share_lightbox.html" %} 
{% endblock %}


{% block script_base %}
{{ block.super }}

{% if is_dashboard %}

{% comment %}
No longer need to display the first item automatically
  <script type="text/javascript">
  // Helps to display the first item in the fund-feed
    $(document).ready(function() {
      toggleArticleActive($('.fund-feed article:first-child').attr("id"), true);
    });
  </script>
{% endcomment %}  

{% endif %}

<script type="text/javascript">
  // User liked a post. 
  function on_click_like_entry(clicked_id, clicked_dom_id) {
      $.ajax({
           type: "POST",
           url:  "{% url 'ajax_like_entry' %}",
           data: { 'entry_id': clicked_id,
                   'csrfmiddlewaretoken': '{{csrf_token}}'},
           dataType: "text",
           success: function(response) { 
               // Like went through!
               var resp = JSON.parse(response);
               // response has a section new_html
               // This is a dictionary of the form { dom_id : new_html }
               // The new_html has to be inserted into the div (p, etc.) specified by the id
               $.each(resp.update_html, function(dom_id, new_html) {
                   $('#'+dom_id).html(new_html);
               })
               $('#div-'+clicked_dom_id).html(resp.new_html);               
//               alert(resp.message);
//               $('#'+clicked_dom_id).text("cool");
               //$('#'+clicked_dom_id).attr("disabled", resp.liked);
//               $('#'+clicked_dom_id).attr("value", "Unlike");
//               toggleLike(clicked_dom_id, !resp.liked, " ("+resp.total_likes+")");
           }, error: function(rs, e) {
              alert(rs.responseText);
           }
      });
  }
</script>
{% comment %}
Short polling. Poll the server every once in a while to see if there is a new article, new badge, new private message, etc., so we can display those even if the user does not refresh a page. 
{% endcomment %}

<script src="{% static "js/jquery.fancybox-1.3.4.pack.js" %}"></script> 
<script src="{% static "js/jquery.idTabs.js" %}"></script> 
<script type="text/javascript" src="{% static "js/receive_updates.js" %}"></script>
{% endblock %} 
