{% extends "site_base.html" %}
{% block body_id %}dashboard_body{% endblock %}
{% load staticfiles %}
{% load social_tags %}

{% block style_base %}
	<link href="{% static "css/jquery.fancybox-1.3.4.css" %}" rel="stylesheet">	
{{ block.super }}



{% load i18n extra_tags extra_filters ui_registry %}
    <!-- Styling for OSQA -->
        <link href="{% media  "/media/style/style.css" %}" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>
		
{% endblock %} 

{% block body %}

<div class="dash_grid">
    <div class="inner_dashcontent">
    	<div class="section1 section3">
        	<div class="user_breakdown">
			<div class="ub_statusinfo">
			<a href="{% url 'newstatus_home' %}"><p>Current Status <br /><span>Lurker</span></p></a>
			<figure>
			<a href="{% url 'newstatus_home' %}"><img src="{% static "img/base_status_small(fin).png" %}" alt="PHOTO" /></a>
			<span class="icon-plus">+</span>
			</figure>
			</div>

			<div class="ub_tabcontent">
			<div class="ub_tablinks">
			<ul class="idTabs unstyled">
			<li><a href="#mpd-fund">MPD Fund</a></li>
			<li><a href="#mms-fund">MMS Fund</a></li>
			</ul>
			</div>
        
			<div class="ub_tabbox">
			<div id="mpd-fund">
			<article>
			<p>Total Amount in Fund</p>
			<h2><sup>$</sup>98,000.00</h2>
			<div class="btn-middle"><a href="#" class="btn disabled" id="dashbtn_fix">Learn more</a></div>
			</article>        
			<aside>
			<p>You are not currently participating in this fund </p>
			<p><a href="{% url 'fund_home' %}">Add more to the fund</a></p>
			</aside>
			</div>
        
			<div id="mms-fund">
			<article>
			<p>Total Amount in Fund</p>
			<h2><sup>$</sup>72,000.00</h2>
			<div class="btn-middle"><a href="#" class="btn disabled" id="dashbtn_fix">Learn more</a></div>
			</article>      
			<aside>
			<p>You are not currently participating in this fund </p>
			<p><a href="#">Add more to the fund</a></p>
			</aside>
			</div>        
			</div>
        </div>
        
        <div class="ub_otheractions">
        <aside>
        <p>Found a cool startup?  <br /> Make sure to <span><a href="{% url 'study_index' %}">tell us</a></span> about it!</p>
        </aside>
        
        <aside class="blue_feedback">
        <p>Want to leave us feedback? <br /> Check out the <span><a href="{% url 'platform_main' %}">platform</a></span> page!</p>
        </aside>
        
        <aside class="gray_news">
        <p>Want to spread the good news? <br /> Send an <span><a href="#lightbox" class="magnate">Invitation</a></span> to a friend!</p>
        </aside>
        </div>
        </div>
        
        <div class="dashboard-divider">
        	<div id="hangoutsDropdown" class="hangouts_dropdown">
				<button type="button" id="btnHangoutsClose" class="icon-close">Close</button>
				<aside>
					<h2><span>New Magnate</span> Hangout</h2>
				</aside>
        
					<figure><a href="#"><img src="{% static "img/dash_hangoutstest.jpg" %}" alt="PHOTO" /></a></figure>
				<aside>
					<h2><span>Review Details</span></h2>
					<div class="btn-middle"><a href="{% url "rewards" %}" class="btn" id="dashbtn_fix">Hangouts Home</a></div>
				</aside>
			</div>
        </div><!--dashboard divider-->
        

        <div class="section6-bg">
	{% comment %}
	If is_dashboard, then wrap the block content so it goes into the left column. Otherwise it gets all the space.
	{% endcomment %}

	{% if is_dashboard %}
	<div class="section6"> {% comment %}section6 is also only for the dashboard mode. We want a pure white screen otherwise{% endcomment %}

        <div class="dash_zinniafeed grid_3 alpha omega">
        <div class="fund-feed">
  	{% endif %}

  {% block page_center %} <!--why is this blocked in here?-->
	{% block content %}
	{% endblock %}
  {% endblock %}

        {% if is_dashboard %}
        <div class="btn-bg">
        <div class="btn-middle">
        <a href="#" class="btn disabled" id="dashbtn_fix">Show more</a>
        </div>
        </div>
        </div>
        </div>
        
        <div class="right-col">
			
        <div id="div_activity" width="500" height="500">
			{% comment %}
			This div is needed to display the Q&A feed.
			{% endcomment %}
			</div>
		</div>
        </div>
	{% endif %}


        </div>
      </div>

    </div><!-- contentinner -->
    </div><!-- grid_16 -->

{% include "share/_share_lightbox.html" %} 
{% endblock %}


{% block script_base %}
{{ block.super }}

<script type="text/javascript">
// Helps to display the first item in the fund-feed
$(document).ready(function() {
    $('.fund-feed article:first-child').addClass("article-active"); // adds highlight to first fund-feed item loaded
	$('.fund-feed article:first-child').find('.show-when-article-active').show(); // reveals hidden content for first fund-feed item loaded
	$('.fund-feed .article-active').find('.show-when-article-not-active p').addClass("nohover-underline"); // removes text-decoration for first fund-feed item loaded
	$('.fund-feed .article-active').find('.fundfeed_title_active').addClass("nohover-underline"); // removes text-decoration for first fund-feed item loaded
});
</script>

<script type="text/javascript">    
// Displays the first fund-feed entry question list on page load
	var getNumericPart = function(id) {
	var $num = id.replace(/[^\d]+/, '');
	return $num;
	}
		
	var entryid = $('.fund-feed article:first-child').attr('id');		
	$('#div_activity').load('/f/?entry=' + getNumericPart(entryid).replace('entry-','') );

//		function testbutton() {
//		alert(getNumericPart(entryid));	
//		}			
</script>

<script type="text/javascript">
  // User liked a post. 
  function on_click_like_entry(clicked_id, clicked_dom_id) {
      $.ajax({
           type: "POST",
           url:  "{% url 'ajax_like_entry' %}",
           data: { 'entry_id': clicked_id,
                   'csrfmiddlewaretoken': '{{csrf_token}}'},
           dataType: "text",
           success: function(response) { 
               // Like went through!
               var resp = JSON.parse(response);
               // response has a section new_html
               // This is a dictionary of the form { dom_id : new_html }
               // The new_html has to be inserted into the div (p, etc.) specified by the id
               $.each(resp.update_html, function(dom_id, new_html) {
                   $('#'+dom_id).html(new_html);
               })
               $('#div-'+clicked_dom_id).html(resp.new_html);               
//               alert(resp.message);
//               $('#'+clicked_dom_id).text("cool");
               //$('#'+clicked_dom_id).attr("disabled", resp.liked);
//               $('#'+clicked_dom_id).attr("value", "Unlike");
//               toggleLike(clicked_dom_id, !resp.liked, " ("+resp.total_likes+")");
           }, error: function(rs, e) {
              alert(rs.responseText);
           }
      });
  }
</script>
{% comment %}
Short polling. Poll the server every once in a while to see if there is a new article, new badge, new private message, etc., so we can display those even if the user does not refresh a page. 
{% endcomment %}

<script src="{% static "js/jquery.fancybox-1.3.4.pack.js" %}"></script> 
<script src="{% static "js/jquery.idTabs.js" %}"></script> 
<script type="text/javascript" src="{% static "js/receive_updates.js" %}"></script>
{% endblock %} 
