{% extends "site_base.html" %}
{% load staticfiles %}
{% block body_id %}sourcepage_body{% endblock %}


{% block body %} 

<div class="grid_16">
    <div class="contentinner">
        <div class="section1 section3" id="sourcepage_main">

        <div class="contentinner_header">
		<div class="inner_blue">
		<h1>Suggest an Opportunity</h1>
		</div>
	   	</div>
        
        <div class="sourcepage_content">
        <div class="left_sourcepage-container">
        <div class="left_sourcepage-contentinner">
        	<div class="sourceinfo_main">
        	<p class="sourceinfo-text-intro">Want the Magnate community to consider funding a startup, idea or strategy that you're in love with? Leave some information and keep your eyes peeled--it will most definitely get mentioned in the related lobby.</p>
       
        <form action="{% url "study_index" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
        <article>
        
        
        <ul class="unstyled">
        
        <li>
        <p>
        {{ form.entity.errors }}
        <label for="id_entity">Opportunity Name</label>
		{{ form.entity }}
        </p>
        </li>
        
        <li>
        <p>
        {{ form.entity_url.errors }}
        <label for="id_entity_url">Related URL</label>
	    {{ form.entity_url }}  
         </p>
        </li>
        
        
        <li>
        <p>
        {{ form.description.errors }}
        <label for="id_description">Description of Opportunity</label>
        {{ form.description }}
        </p> 
        </li>

        <li>
        <p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
        </li>
        
        </ul>
        </article>
        </div>
        </div>
        </div>
        
        <div class="right_sourcepage-container">
        <div class="right_sourcepage-contentinner">
        <article>
        <ul class="unstyled">
        <li class="nodivider">
			<p>
            {{ form.industry.errors }}
            <label for="id_industry">Select a lobby</label>
            {{ form.industry }}
            </p> 
        </li>
        </ul>
        <input type="submit" value="Submit" class="btn" />
		</form>		
		<a href="{% url "newstatus_home" %}" class="btn">Cancel</a>
        </article>
        </div>
        </div>
        </div>
        </div>
    </div><!-- contentinner -->
    </div><!-- grid_16 -->
    
    
{% endblock %}
