{% load staticfiles %}

<div class="donation-section">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Current amount</h4>
        <div id="dollar">
        <span id="hasdonation">${{ grand_total }}</span>
        </div>
 
        <aside>
        <h4>Donated amount</h4>
        <p>${{ total_donation_amount }}</p>
        </aside>
       
        <aside class="waiting_amount">
        <h4>Awarded amount</h4>
        <p>${{ total_bonus_amount }}</p>
        </aside>
        
        <div class="bg-btn">
        <a href="{% url 'donations_add' %}" class="startedbtn">Add to your donation</a>
        </div>
        </div>
        
        <div class="time-info">
        <h4>Time until donation fully earned</h4>
        <h2><span>1 month  37 days</span></h2>
        </div>
        </article>
        
        </div>
        </div>

 </div><!--donation info-->



{% comment %}
#This is the template code that displays a timer. 
#For use if you decide to include a timer.

<div class="donation-section">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Current amount</h4>
        <div id="dollar">
        <span id="hasdonation">${{ total_donation_amount }}</span>
        </div>
        
        <aside>
        <h4>Donated amount</h4>
        <p>$10.00</p>
        </aside>
       
        <aside class="waiting_amount">
        <h4>Awarded amount</h4>
        <p>$10.00</p>
        </aside>
        
        <div class="bg-btn">
        <a href="{% url 'donations_add' %}" class="startedbtn">Add to your donation</a>
        </div>
        </div>
        
        <div class="time-info">
        <h4>Time until donation fully earned</h4>
        <h2><span>1 month  37 days</span></h2>
        </div>
        </article>
        
        <div class="bg-btn">
        <a href="#" class="btn-gray">Exit Magnate Fund</a>
        </div>
        
        </div>
        </div>

 </div><!--donation info-->

{% endcomment %}