{% load staticfiles %}

<div class="donation-info">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Current amount</h4>
        <div class="dolor">
        <span>{{ total_donation_amount }}</span>
        </div>
        
        <aside>
        <h4>Original donation</h4>
        <p><span>$</span>10</p>
        </aside>
        
        <aside>
        <h4>Additional donation amount</h4>
        <p><span>$</span>15</p>
        </aside>
       
        <aside class="waiting_amount">
        <h4>Karma amount</h4>
        <p><span>$</span>10</p>
        </aside>
        
        <div class="bg-btn">
        <a href="{% url 'donations_add' %}" class="btn">Add to your donation</a>
        </div>
        </div>
        
        <div class="time-info">
        <h4>Time until donation fully earned</h4>
        <h2><span>1 month  37 days</span></h2>
        </div>
        </article>
        
        <div class="bg-btn">
        <a href="#" class="btn-gray">Exit Magnate Fund</a>
        </div>
        
        </div>
        </div>

 </div><!--donation info-->
