{% extends "site_base.html" %}
{% load staticfiles %}
{% load render_integration from billing_tags %}

{% block body %}

<script>
function on_click_accept_checkbox() {
	
	document.getElementById("adp_submitbtn").disabled = !document.getElementById("adp_submitbtn").disabled;
}
</script>


<div class="grid_16">
    <div class="contentinner">
    	<div class="bgsection2">
        
        <div class="heading-inner">
        <h1>Check your order and pay</h1>
        </div>
        
        <div class="section2">
        <div class="left_section2">
        <div class="order-left">
        <article>
        <aside>
        <label>Payment method</label>
        <select name="Card-type" class="select">
        <option value="Mastercard">Mastercard</option>
        <option value="Visa">Visa</option>
        <option value="American Express">American Express</option>
        </select>
        
        <div class="card-detail">
        <h2 class="light">Card details</h2>
        <ul id="adp_forms">
        {% render_integration adp %}
        </ul>
        </div>
        </aside>
<!--        <div class="accept">
        <input type="checkbox" name="01" class="styled" onclick="on_click_accept_checkbox();" /><span class="text">Yes, I have read and I accept the <a href="#">Magnate Terms of Use</a> and the <a href="#">Magnate Privacy Policy</a>.</span>
        </div> -->
        
        <p>Your billing information will be saved for future donations.</p>
        
        <a href="#" class="btn">Continue</a>
        <a href="#" class="btn-gray">Cancel</a>

        </article>
        </form> <!--end of adp form -->
        </div>
        </div>
        
        <div class="right_section2">
        <div class="order-right">
        <article>
        <h3>Your order <span><a href="#">Change order</a></span></h3>
        <ul>
        <li class="nodivider">
        <div class="column1">MagnateFund donation</div>
        <div class="column2">{{ amount }}</div>
        </li>
        <li class="total">
        <div class="column1">Total</div>
        <div class="column2">{{ amount }}</div>
        </li>        
        </ul>
        </article>
        </div>
        </div>
        </div>
        </div>
        
        
    </div><!-- contentinner -->
    </div><!-- grid_16 -->
    

{% endblock %}
