{% extends "site_base.html" %}
{% load staticfiles %}

{% block body %} 

<div class="grid_16">
    <div class="contentinner">
        <div class="section1 section3">
        <div class="donation-info">
        <h1>Your Donation</h1>
        <p>Being a Magnate is all about your donation, and this is your control center. Everything you need to make sure Magnate is growing your donation at the rate you want.</p>
        
        <div class="amount-box">
        <div class="amount-info">
        <article>
        <div class="current-amount">
        <h4>Current amount</h4>
        <div class="dolor">
        <span>0</span>
        </div>
        
        <div class="bg-btn">
        <a href="{% url 'donations_tiers' %}" class="btn">Add to your donation</a>
        </div>
        </div>
        </article>
        </div>
        </div>
        </div>        
        </div>
    </div>
    </div> <!-- grid 16 -->  
    
    
{% endblock %}