{% load i18n %}
{% load staticfiles %}

	<div class="grid_footer">
        
        <aside>
        	<p class="footer_browser">
				<a href="#" class="first">Home</a> | 
				<a href="{% url "aboutus" %}">About</a> | 
				<a href="{% url "error404" %}">Blog</a> | 
				<a href="{% url "aboutus" %}">Our Team</a> |
				<a href="{% url "aboutus" %}">ContactUs/Support</a> | 
				<a href="{% url "error404" %}">Terms</a> | 
				<a href="{% url "error404" %}">FAQ</a>
			</p>
        
        <p class="footer_mobile">
        	<a href="#" class="first">Home</a> | 
			<a href="#">About</a> | 
			<a href="#">Blog</a> | 
			<a href="#">Our Team</a>
			<a href="#">ContactUs/Support</a> | 
			<a href="#">Terms</a> | 
			<a href="#">FAQ</a>
		</p>
        
        <p><span>&copy; 2013 MagnateLabs Inc. All Rights Reserved</span></p>
        </aside>
        
        <div class="footer_socialmedia">
        	<ul>
				<li><a href="#"><img src="{% static "img/twitter01.png" %}" alt="PHOTO" /></a></li>
				<li><a href="#"><img src="{% static "img/facebook01.png" %}" alt="PHOTO" /></a></li>
				<li><a href="#"><img src="{% static "img/pinterest01.png" %}" alt="PHOTO" /></a></li>
			</ul>
        </div>
	</div>	