{% load i18n %}
{% load staticfiles %}

	<div class="grid_footer">
        
        <aside>
        	<p class="footer_browser">
        	{% if not request.user.is_authenticated %}        	
				<a href="{% url "home" %}" class="first">Home</a> | 
			{% endif %}	
				
			{% if request.user.is_authenticated %}
				<a href="{% url "dashboard" %}" class="first">Home</a> | 
			{% endif %}
						
				<a href="{% url "aboutus" %}">About</a> | 
				<a href="{% url "comingsoon" %}">Blog</a>

			</p>
        
        <p class="footer_mobile">
        	<a href="#" class="first">Home</a> | 
			<a href="#">About</a> | 
			<a href="#">Blog</a> | 
			<a href="#">Terms</a> | 
			<a href="#">FAQ</a>
		</p>
        
        <p><span>&copy; 2013 MagnateLabs Inc. All Rights Reserved</span></p>
        </aside>
        
        <div class="footer_socialmedia">
        	<ul>
				<li><a href="http://twitter.com/magnatelabs" target="_blank"><img src="{% static "img/twitter01.png" %}" alt="PHOTO" /></a></li>
				<li><a href="http://www.facebook.com/pages/Magnate-Labs/197894490391670" target="_blank"><img src="{% static "img/facebook01.png" %}" alt="PHOTO" /></a></li>
				<li><a href="http://www.pinterest.com/MagnateLabs/" target="_blank"><img src="{% static "img/pinterest01.png" %}" alt="PHOTO" /></a></li>
			</ul>
        </div>
	</div>	