{% load staticfiles %}
{% load avatar_tags %}
{% load i18n %}

  {% block article-tag %}
       <article   id="entry-{{ object.pk }}">
  {% endblock %}
  
  {% if object.is_public %}
  {% else %}
  <div class="fundfeed-userauthor">  
  <div class="userauthor-profile-dates"><p><!-- osQA dates -->added   10 Aug, 09:26</p></div>		
  <div class="userauthor-profile-image"><figure>{% avatar user 48 %}
  {% ifequal user request.user %}</figure></div>{% endifequal %}
  <div class="userauthor-profile-name"><a href="{{ user.get_profile_url }}" id="special_name_hack"><p><!-- author_name-->{{ user }}</p></a></div>
  <div class="userauthor-lobby"><figure><!-- group_tagged_icon -->
  {% ifequal user request.user %}</figure></div>{% endifequal %}
  </div>	
  {% endif %}

  {% block entry-header %}
  {% endblock %}
  {% block entry-image %}
  {% endblock %}

  {% block related-questions %}
    {% if not continue_reading  %}    
    
    <div class="section1 section3" id="relatedArticle-breakdown">
			<h3>Related Questions</h3>
          {% for question in related_questions %}
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>{{ question.view_count }}</h4></div>
       		<a href="{{ question.get_absolute_url }}"><p>{{ question.title }}</p></a>
         	</div>
        	</div>
          {% endfor %}
        	
    </div>         	
  
	{% endif %}
  {% endblock %}
  
  {% block entry-title %}
  {% endblock %}

  {% block entry-content %}
  {% endblock %}
  {% if not continue_reading %}
    {% block entry-footer %}
      {% block entry-tags %}{% endblock %}
      {% block entry-shorturl %}{% endblock %}
      {% block entry-comments %}{% endblock %}
    {% endblock %}
  {% endif %}
    {% if continue_reading %} 
  	<div class="expand-btn show-when-article-not-active">
  		<figure><img id="expand-entry-{{ object.pk }}" src="{% static "img/expandbtn_normal.png" %}"  onclick="toggleArticleActive('entry-{{ object.pk }}', true, {{ object.is_public|lower }});" alt="PHOTO" /></figure>
  	</div>

  	 <div class="show-when-article-active collapse-btn">
  		<figure><img src="{% static "img/collapsebtn_normal.png" %}"  onclick="toggleArticleNotActive('entry-{{ object.pk }}', true);" alt="PHOTO" /></figure>
  	</div>  	

  {% comment %}
  No longer need this code
  {% block entry-categories %}
      {% with categories=object.categories.all %}
      {% if categories|length %}
      {% trans "in" %}
      {% for category in categories %}
      <a href="{% url 'category_home_page' category.pk %}"
         title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
         rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
      {% endwith %}
      {% endblock entry-categories %}
	  {% endcomment %}

  {% endif %}


  	
  	        <div id="div_activity_{{ object.pk }}">
			{% comment %}
			This div is needed to display the Q&A feed.
			{% endcomment %}
			</div>

  
  
  
  	</article>


