{% extends "zinnia/_entry_detail_base.html" %}
{% load social_tags %}
{% load staticfiles %}
{% load i18n %}


{% block style_base %}
    {{ block.super }}
    {% if continue_reading %} 
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">    
    {% else %}
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
{% endif %}
{% endblock %}   


{% block entry-header %}
{% if continue_reading %} 

<span class="show-when-article-active">
   <h3><span>Fund</span>Feed</h3>
</span>
        

<!-- Icon of the entry -->



{% else %}
<div class="blog-entry-header">
{{ block.super }}
</div>
{% endif %}
{% endblock %}


{% block entry-title %}
  {% if continue_reading %}
  <div class="show-when-article-active">
	  <img id="feed-entry-icon" src="{{ object.icon_url }}"   />
		{% if object.is_public %}
		{% else %}
			<img id="privatefeed-entry-icon" src="{{ object.private_icon_url }}" style="float: left" />
		{% endif %}
		{{ block.super }}
	</div>
    <h4 class="fundfeed_title_active nojump">{{ object.title }}</h4>
  {% else %}
    <h2 class="entry-title">
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h2>
  {% endif %}
{% endblock %}


{% block entry-info %}
{% if continue_reading %} 
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block entry-last-update %}
{% if continue_reading %} 
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}


{% block entry-image %}
	{% if object.image %}
        <!--<div class="entry-image">-->
        
<!--      <img src="..." class="entry-image-{{continue_reading}}"   entry-image-0 entry-image-1-->
         {% if continue_reading %}
          <span class="show-when-article-active">
          <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
			  <figure><img id="feed-entry-image" src="{{ object.image.url }}" alt="{{ object.title }}" class="left"  /></figure>
         </a>
	  </span>
          {% else %}
          <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
			  <figure><img id="blog-entry-image" src=" {{ object.image.url }}" alt="{{ object.title }}" class="left"  /></figure>
          </a>
          {% endif %}
        
        <!--</div>-->
	{% else %}
        <span class="show-when-article-active">
        <a href="{{ object.get_absolute_url }}"><figure><img id="blog-entry-image" src="{% static "img/fundfeed_test.jpg" %}" alt="{{ object.title }}"  /></figure></a>
	</span>
	{% endif %}
{% endblock %}


{% block entry-content %}
	{% if continue_reading %}
	  
	  <span class="show-when-article-not-active"><p>{{ object_content }}</p></span>
	  
	  <span class="show-when-article-active">
	    <div class="uppo">
	    <a href="{{ object.get_absolute_url }}" class="btn-more2 fundfeed_btn_mod">Read more</a>
        <a href="/forum/questions/ask/?entry_id={{ object.pk }}" class="btn-more2">Ask Question</a>   
	    </div>
	  </span>
	{% else %}
		{% if object.is_public %}
			<div class="blogpublic-entry-content">
				{{ object_content }}
			</div>
		{% else %}
			<div class="blogprivate-entry-content">
				{{ object_content }}
			</div>						
		{% endif %}
	{% endif %}
{% endblock %}


{% block continue-reading %}
	{% if continue_reading %}
		{% if object.is_public %}
	    	<p class="continue-reading">
			<a href="{{ object.get_absolute_url }}"
			title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
			rel="bookmark">
		{% trans "Continue reading" %}
			</a>
			</p>
		{% else %}
		{% endif %}	
	{% endif %}
{% endblock %}

{% block entry-shorturl %}      
{% endblock %}    


{% block entry-tags %}
	{% if continue_reading %}
	{% else %}
		{{ block.super }}	
	{% endif %}	
{% endblock %}


{% block entry-comments %}
	{% if continue_reading %}
	{% else %}
	<div id="blog-entry-comments">
		{{ block.super }}
	</div>
	{% endif %}		
{% endblock %}

      
{% block entry-footer %}
	{% if object.is_hangout %}
	  {% if not object.hangout.is_completed %}
	        {% count_me_in_button %}
	  {% endif %}
	{% endif %}

{% comment %}
	{% if object.is_public %}
		{% like_entry_button object.pk request.user %}
	{% endif %}
{% endcomment %}

	{% if continue_reading %}
		<div class="blog-entry-footer">
		  
		</div>
	{% endif %}	
{% endblock %}

<!-- add if continue reading tags to every block you want to be different on the detail page.-->

