{% load staticfiles %}

  {% block article-tag %}
       <article   id="entry-{{ object.pk }}" {% if continue_reading %} onclick="toggleArticleActive('entry-{{ object.pk }}', true);" {% endif %}>
  {% endblock %}


  {% block entry-header %}
  {% endblock %}
  {% block entry-image %}
  {% endblock %}

  {% block related-questions %}
    {% if not continue_reading  %}    
    
    <div class="section1 section3" id="relatedArticle-breakdown">
			<h3>Related Questions</h3>
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>12</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>32</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>01</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>72</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>

        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>12</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>32</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>01</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
        	
        	<div class="relatedArticle_breakdown-container">           	
        	<div class="relatedArticle_breakdown-text">
       		<div class="relatedQuestion-counter"><h4>72</h4></div>
       		<a href="#"><p>Lorem ipsum dolor sit amet, con sectetuer adi piscing elit aenean.</p></a>
         	</div>
        	</div>
    </div>         	
  
	{% endif %}
  {% endblock %}
  
  {% block entry-title %}
  {% endblock %}
  {% block entry-content %}
  {% endblock %}
  {% if not continue_reading %}
    {% block entry-footer %}
      {% block entry-tags %}{% endblock %}
      {% block entry-shorturl %}{% endblock %}
      {% block entry-comments %}{% endblock %}
    {% endblock %}
  {% endif %}

                </article>


