{% extends "zinnia/entry_detail_base.html" %}
{% load i18n zinnia_tags %}
{% load avatar_tags %}

{% block entry-widgets %}
  {% with entry_related=object.related_published %}
  {% if entry_related %}
  <div class="entry-related">
    <h3>Related entries</h3>
    <ul>
      {% for entry in entry_related %}
      <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
{% endblock %}  



{% block entry-comments %}

<script type="text/javascript">
$(document).ready(function(){ loadQuestionFeed( $('#question-feed'), {{ entry.pk }} ); });
</script>
<div id="question-feed"/>


<!-- Not sure if we want to use this comments feature
{% if object.is_public %}
    <div class="comments">
      <h3>{% trans "Comments" %}</h3>
      {% if object.comment_count %}
      {% with comment_list=object.comments %}
      <ol class="comment-list">
	{% for comment in comment_list %}
	       {% avatar comment.user 40 %}
	  <p id="comment-info">
	    {% if comment.url %}
	    <a href="{{ comment.url }}" rel="external nofollow"
	       class="fn url">{{ comment.name }}</a>
	    {% else %}
	     <a href="{% url "user_page" %}?user_id={{comment.user.pk}}" rel="external nofollow"
	       class="fn url">{{ comment.name }}</a>
	    {% endif %}
	  </p>
	    <abbr id="comment-published" title="{{ comment.submit_date|date:"c" }}">
	      {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	    </abbr>
	    {% comment %}
	    <! Not sure why we should use this at all, but saving just in case >
	    <a href="#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"
	       id="c{{ comment.pk }}" class="anchor-link"
	       title="{% trans "Direct link to this comment" %}">#</a>
	    {% endcomment %}   
	  
	  {{ comment.comment|linebreaks }}
	</li>
	{% endfor %}
      </ol>
      {% endwith %}
	{% if not object.comments_are_open %}
      <p>{% trans "Comments are closed." %}</p>
	{% endif %}
      {% else %}
	{% if object.comments_are_open %}
      <p>{% trans "No comments yet." %}</p>
	{% else %}
      <p>{% trans "Comments are closed." %}</p>
	{% endif %}
      {% endif %}
    </div>
{% endif %}
-->
{% endblock %}

{% block entry-pingbacks %}
{% endblock %}

{% block entry-trackbacks %}
{% endblock %}

{% block entry-comments-form %}
{% endblock %}
