{% load staticfiles %}

<script src="{% static "fyneworks_star_rating/jquery.rating.pack.js" %}" type="text/javascript" language="javascript"></script>
<script src="{% static "fyneworks_star_rating/jquery.MetaData.js" %}" type="text/javascript" language="javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>



<script type="text/javascript" language="javascript">
$(function(){ 
   $('#star-rating-form').submit(function() {
       $('input', this).each(function() {
           if (this.checked) {

               $.ajax({
                   type: "POST",
                   url: "{% url 'ajax_star_rating' %}",
                   data: { 'value': this.value,
                           'csrfmiddlewaretoken': '{{csrf_token}}' },
                   dataType: "text",
                   success: function( response ) {
                       var resp = JSON.parse(response);
                       $('#star-rating-message').html(resp.message);
                       $('.star-rect').hide();
                       $('.abuja').hide();
                   }
               });
               
           }
       });
       return false;
   });
});
</script>

<div class="bgcash-bonus">
	<div class="cash-bonus">
	<form id="star-rating-form" style="">
		<div class="star-rect">
			<div class="Clear" style="margin-left: 12px; margin-top: 2px;">
				<input class="star" type="radio" name="star-rating-it" value="1" title="Worst"/>
				<input class="star" type="radio" name="star-rating-it" value="2" title="Bad"/>
				<input class="star" type="radio" name="star-rating-it" value="3" title="OK"/>
				<input class="star" type="radio" name="star-rating-it" value="4" title="Good"/>
				<input class="star" type="radio" name="star-rating-it" value="5" title="Best"/>
			</div>				
		</div>
		<div class="prompt-rect">
			<div class="abuja">
				<h4>Tell us what's on your mind...</h4>
				<aside>
					<p>How would you rate the usefulness of Magnate's feedback page?</p>
					<input class="ratingbtn startedbtn" type="submit" value="Submit" />
				</aside>
			</div>
		</div>
	</form>
	</div>
</div> <!-- bgcash -->
<p id="star-rating-message"></p>
<!--
<aside>
<form id="star-rating-form" style="">
    Please, rate this website!
    <div class="Clear">
        <input class="star" type="radio" name="star-rating-it" value="1" title="Worst"/>
	<input class="star" type="radio" name="star-rating-it" value="2" title="Bad"/>
	<input class="star" type="radio" name="star-rating-it" value="3" title="OK"/>
	<input class="star" type="radio" name="star-rating-it" value="4" title="Good"/>
	<input class="star" type="radio" name="star-rating-it" value="5" title="Best"/>
    </div>
    <input type="submit" value="Submit scores!"/>
</form>
<p id="star-rating-message"></p>

</aside>
--!>